.check {
  position: relative;
  display: inline-flex;
  align-items: center;

  &__input {
    @include visually-hidden;
  }

  &__box {
    min-width: 14px;
    min-height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' fill='white'/%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='1.5' fill='white' stroke='%23999999'/%3E%3C/svg%3E%0A");
  }

  &__input:focus + &__box {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' fill='white'/%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='1.5' fill='white' stroke='%237033ac'/%3E%3C/svg%3E%0A");
  }

  &__input:hover + &__box {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' fill='white'/%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='1.5' fill='white' stroke='%23a65cf0'/%3E%3C/svg%3E%0A");
  }

  &__input:checked + &__box {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' fill='white'/%3E%3Crect width='20' height='20' rx='2' fill='%23A65CF0'/%3E%3Cpath d='M4 10L8.52769 14.5277L16.6473 5.40808' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  }

  &__input:checked:focus + &__box {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' fill='white'/%3E%3Crect width='20' height='20' rx='2' fill='%237033ac'/%3E%3Cpath d='M4 10L8.52769 14.5277L16.6473 5.40808' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  }

  // @media (max-width: 450px) {

  // }
}
