@import '../../mixin';
@import '../../variables';

.tooltip {
  position: relative;
  display: inline-block;

  &__button {
    @include button-reset;

    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;

    // background-image: url('@svg/tooltip-off.svg');
    // background-image: url('../../assets/svg/tooltip-off.svg');
    transition: opacity 0.3s ease-in-out;

    &:focus,
    &:hover {
      // background-image: url('../../assets/svg/tooltip-on.svg');

      // background-image: url('@svg/tooltip-on.svg');
    }

    &:focus {
      outline: none;
    }

    &:hover + .tooltip__text {
      opacity: 1;
    }

    &:focus + .tooltip__text {
      opacity: 1;
    }
  }

  &__text {
    position: absolute;
    right: -508%;
    bottom: 179%;
    z-index: 1;
    display: block;
    min-width: 157px;
    min-height: 52px;
    padding: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    background-color: $black;
    opacity: 0;

    &::before {
      position: absolute;
      right: 46%;
      bottom: -10px;
      width: 0;
      height: 0;
      border-color: $black transparent transparent;
      border-style: solid;
      border-width: 12px 6px 0;
      content: '';
    }
  }
}
