.top-select {
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: middle;

  &__container {
    @include arrow-direction;

    position: relative;
    width: 84px;
    padding: 3px 18px 0 3px;
    overflow: hidden;
    color: $primary-color;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
  }

  &__dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10;
    display: block;
    box-sizing: content-box;
    width: calc(100% - 4px);
    max-height: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid $grey-light;
    border-radius: 0;
    opacity: 0;
    transition: opacity 0.3s ease-out, padding 0.3s ease-out,
      max-height 0.3s ease-out;
    will-change: max-height;

    &--open {
      padding: 10px 0;
      opacity: 1;
    }

    &--close {
      display: none;
    }
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &-selected {
      display: inline-block;
      width: 100%;
    }

    &[aria-selected*='true'] {
      display: none;
    }

    &:focus {
      color: $primary-shade;
      background-color: $pink-violet;
      outline: none;
    }

    &:hover {
      color: $primary-light;
    }
  }
}
