@import '../../mixin';
@import '../../variables';

.bottom-select {
  position: relative;
  z-index: 5;
  display: inline-block;
  width: 27%;

  // min-width: 189px;
  // min-width: 179px;
  min-width: 167px;
  height: 100%;

  &__container {
    z-index: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 18px;
    padding-left: 32px;
    overflow: hidden;
    color: $primary-color;
    font-size: 16px;
    line-height: 22px;
    border: 2px solid $grey-light;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;

    &::after {
      position: absolute;
      top: 44%;
      right: 34px;
      display: block;
      width: 8px;
      height: 8px;
      margin: 0;
      padding: 0;
      border: none;
      border-right: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
      transform: rotate(45deg);
      transform-origin: center;
      transition: transform 0.2s ease-out, margin-top 0.2s ease-out;
      content: '';
    }

    &[aria-expanded*='true']::after {
      margin-top: 4px;
      transform: rotate(225deg);
    }

    &:hover {
      border-color: $primary-color;
    }

    &:focus {
      background-color: $pink-light;
      border-color: $primary-color;
      outline: none;
    }

    &:active {
      border-color: $primary-shade;
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% - 10px);
    left: 0;
    z-index: -1;
    display: inline-block;
    box-sizing: content-box;
    width: calc(100% - 62px);
    max-height: 0;
    padding: 0 30px;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid $grey-light;
    border-top: none;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    transition: opacity 0.3s ease-out, padding 0.3s ease-out,
      max-height 0.3s ease-out;
    will-change: max-height;

    &--open {
      padding: 32px 30px 23px;
      opacity: 1;
    }

    &--close {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &-selected {
    }

    &[aria-selected*='true'] {
      display: none;
    }

    &:focus {
      color: $primary-shade;
      background-color: $pink-violet;
      outline: none;
    }

    &:hover {
      color: $primary-light;
    }
  }

  @media (max-width: 1160px) {
    width: 31.5%;
  }

  @media (max-width: 1000px) {
    // width: 27.5%;

    &__container {
      padding-left: 30px;
    }

    &__list {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 640px) {
    width: 100%;
    min-width: unset;
    height: 60px;

    &__container {
      border-radius: 10px;

      &::after {
        right: 12%;
      }
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
