@import './choices-top-header';

.top-header {
  position: relative;
  margin-bottom: 32px;
  overflow: hidden; // new style
  background-color: $grey-light;

  &__select {
    opacity: 0;
  }

  &__container {
    @include container;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
  }

  &__left-side {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  &__select-location {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-right: 24px;
  }

  &__region {
    display: inline-block;
    height: fit-content;
    margin-right: 2px;
  }

  &__dropdown {
    &-list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }
  }

  &__contact {
    display: inline-flex;
    align-items: center;
    height: fit-content;
    text-decoration: none;
    transition: background-color 0.3s ease-out;

    &-svg {
      width: 21px;
      height: 21px;
      margin-right: 2px;
      transition: fill 0.3s ease-out;
      fill: $secondary-color;
    }

    &-number {
      color: $secondary-color;
      font-size: 14px;
      line-height: 14px;
      transition: color 0.3s ease-out;
    }

    &:hover &-svg {
      fill: $secondary-light;
    }

    &:hover &-number {
      color: $secondary-light;
    }

    &:focus {
      background-color: $bone-color;
      outline: none;
    }

    &:active &-svg {
      fill: $secondary-shade;
    }

    &:active &-number {
      color: $secondary-shade;
    }
  }

  &__right-side {
    display: inline-flex;
    align-items: center;
    width: 55.5%;
    height: 100%;
  }

  &__nav {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    font-size: 14px;
    line-height: 14px;

    &-link {
      @include link-state;
    }
  }

  @media (max-width: 1160px) {
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 31px;

    &__container {
      flex-wrap: wrap;
      height: fit-content;
      padding-right: 0;
      padding-left: 0;
    }

    &__left-side,
    &__right-side {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include container;
    }

    &__left-side {
      min-height: 58px;
      background-color: #fff;
    }

    &__right-side {
      min-height: 50px;
      background-color: $grey-light;
    }

    &__nav {
      width: 74.5%;
      min-width: 600px;
      margin: 0;
    }
  }

  @media (max-width: 1000px) {
    margin-bottom: 32px;

    &__left-side {
      min-height: 58px;
    }

    &__right-side {
      min-height: 50px;
    }

    &__nav {
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    & {
      min-height: 106px; // new style
      margin-bottom: 0;
      background-color: transparent;
    }

    &__left-side,
    &__right-side {
      min-height: 50px;
    }

    &__left-side {
      background-color: $grey-light;
    }

    &__select-location {
      margin-right: 0;
      margin-bottom: 2px;
    }

    &__right-side {
      flex-wrap: wrap;
      justify-content: space-between;
      height: fit-content;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: transparent;
      row-gap: 15px;
    }

    &__item {
      width: 100%;
    }

    &__nav {
      @include container;

      display: none; // new style
      order: 2;
      min-width: unset;
      padding-top: 24px;
      padding-bottom: 24px;
      background-color: $grey-light;
    }

    &__list {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, minmax(20px, 1fr));
      row-gap: 12px;
    }
  }
}
