div(class='banner lazy' data-bg=require("@images/1920/banner-1920.jpg"))
  .banner__container
      strong.banner__suggestion Оксфорд 1950
      span.banner__suggestion-description Новая коллекция изысканных кресел
      button.banner__button Ознакомиться
