div(class='banner')
  .banner__container
    strong.banner__suggestion Оксфорд 1950
    span.banner__suggestion-description Новая коллекция изысканных кресел
    button.banner__suggestion-button Ознакомиться
  button.banner__button Ознакомиться
