h1.page__title Контакты магазина SeatDownPls
section.contact
  .contact__container
    h2.contact__title Контакты
    .contact__search
      input.contact__input(name='place' type='text' placeholder='Поиск магазина')
      ul.contact__list.contact__list--hide
      button.contact__button(data-id='null') Поиск
    .contact__map#map
      .not-found.not-found--hide
        span.not-found__description По вашему запросу ничего не нашлось
