h1.page__title Сотрудничество магазина SeatDownPls
section.cooperation
  .cooperation__container
    h2.cooperation__title Сотрудничество
    section.suppliers.cooperation__section
      h2.suppliers__title Поставщикам
      p.suppliers__text При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
    section.service.cooperation__section
      h2.service__title Что вы получаете?
      -
        var items = [
          'Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.',
          'Комплексное решение для красивого и функционального обустройства любых пространств. ',
          'В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.'
          ];
      ul.service__list
        each item, index in items
          li.service__item
            p.service__item-text=item
    section.advantages.cooperation__section
      h2.advantages__title Ваши преимущества от сотрудничества
      -
        var opportunities = [
          'Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а мы поможем правильно выбрать мебель.',
          'Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.',
        ];
      ul.advantages__list
        each opportunity, index in opportunities
          li.advantages__item
            h2.advantages__item-title=`Возможность ${index+1}:`
            p.advantages__item-text=opportunity
    section.guarantees.cooperation__section
      h2.guarantees__title Гарантии
      -
        var guarantees = [
          'При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.',
          'На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.',
          'Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.'
        ];
      ol.guarantees__list
        each guarantee, index in guarantees
          li.guarantees__item
            span.guarantees__item-text=guarantee
    span.cooperation__important Срок гарантии на нашу мебель составляет от&nbsp;18&nbsp;до&nbsp;60&nbsp;месяцев

