meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='shortcut icon' href='../../assets/svg/favIcon.svg')
title seatDownPlease
link(rel='preload' href='./assets/fonts/opensans-regular-webfont.woff2' as='font' type='font/woff2' crossorigin)
link(rel='preload' href='./assets/fonts/opensans-bold-webfont.woff2' as='font' type='font/woff2' crossorigin)
link(rel='preload' href='./assets/fonts/opensans-semibold-webfont.woff2' as='font' type='font/woff2' crossorigin)
link(rel='preload' href='./assets/fonts/playfairdisplay-black-webfont.woff2' as='font' type='font/woff2' crossorigin)
link(rel='stylesheet' href='./catalog.min.css')
script(defer src='./catalog.js')
