section.top-categories
  .top-categories__container
    h2.top-categories__title Топ категории
    -
      var suggestions = [
        {title: 'Диваны', types: ['Прямые', 'Угловые', 'Модульные']},
        {title: 'Кресла', types: ['Мягкие', 'Кресла-кровати']},
        {title: 'Кровати', types: ['Односпальные', 'Двуспальные']},
        {title: 'Тумбы и&nbsp;комоды', types: ['Тумбы', 'Комоды']},
        {title: 'Стулья', types: ['Деревянные', 'Металлокаркас']}
        ]
    ul.top-categories__list
      each suggestion, index in suggestions
        li(class=`category top-categories__item category--background-${index+1}`)
          article.category__container
            ul.category__type-list
              each link in suggestion.types
                li.category__type-item=link
            h3.category__header
              a.category__header-title(href='catalog.html' target='_blank')!=suggestion.title
              span.category__header-decoration
            div.category__link
              a.category__link-text(href='catalog.html' target='_blank') В каталог
              span.category__link-decoration
