@import 'swiper/css';
@import '../../mixin';
@import '../../variables';

.useful {
  &__container {
    @include container;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__title {
    @include title-h2;

    display: inline-block;
    margin-bottom: 26px;
  }

  &__buttons {
    display: inline-flex;
    justify-content: space-between;
    width: 77px;
  }

  &__button-prev {
    @include slider-button(32px, 32px);

    transform: rotate(180deg);
  }

  &__button-next {
    @include slider-button(32px, 32px);
  }

  &__swiper {
    overflow: hidden;
  }

  &__wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__slide {
    width: 100%;
    min-height: 676px;
    background-color: $grey-light;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;

    &-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: calc(30px + 426px) 30px 30px 30px;
    }

    &-text {
      margin: 0;
      color: $black;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
    }

    &-button {
      @include button-secondary;

      align-self: flex-start;
      justify-self: flex-end;
      min-width: 128px;
      min-height: 54px;
      margin-top: auto;
    }
  }
}
