:root {

  --theme-color: #9D5CD0;

  --theme-color-focus: #7943A4;
  --theme-color-hover: #9D5CD0;
  --theme-color-active: #7943A4;
  --text-color: #333333;

  --theme-color-btn-outer-rim: #C283F3;

  --border-color-default: #CACACA;

  --theme-color-btn-focus: #D1A9F0;
  --theme-color-btn-defolt: #ECECEC;

  /*Smoothness*/

  --transition-timing-function: ease-in-out;

  /*Time transition*/

  --transition-time: .3s;

  /*Padding container*/

  --desktop-padding: 80px 50px;
  --mobile-padding: 51px 15px;

  /*overlay*/

  --overlay-background: rgba(45,45,45,0.469625350140056) 27%;

  /*logo*/

  --logo-background: #000000;
  --logo-color-link: #FFFFFF;
  --logo-color-link-focus: #7943A4;
  --logo-color-link-hover: #C283F3;
  --logo-color-link-active: #7943A4;
  --logo-color-burger-focus: #9D5CD0;
  --logo-color-burger-hover: #9D5CD0;
  --logo-color-search-focus: #9D5CD0;
  --logo-color-search-active: #9D5CD0;
  --logo-color-search-hover: #9D5CD0;

  --logo-aside-padding: 10px 50px;
  --logo-aside-color-border: #E5E5E5;

  /*hero*/

  --hero-background: rgba(0, 0, 0, 0.4);
  --hero-input-border: rgba(255, 255, 255, 0.85);
  --hero-input-border-hover: #9D5CD0;
  --hero-input-border-focus: #9D5CD0;
  --hero-input-border-active: #7943A4;
  --hero-input-color-placeholder: rgba(255, 255, 255, 0.85);
  --hero-btn-color: #FFFFFF;
  --hero-btn-color-hover: #9D5CD0;
  --hero-btn-color-focus: #9D5CD0;
  --hero-btn-color-active: #7943A4;
  --hero-dropdown-background: rgba(0, 0, 0, 0.6);
  --hero-dropdown-link-color: #FFFFFF;
  --hero-dropdown-link-hover: #9D5CD0;
  --hero-dropdown-link-focus: #9D5CD0;
  --hero-dropdown-gradient-link: linear-gradient(rgba(194, 131, 243, .3), rgba(194, 131, 243, .3));

  /*gallery*/

  --gallery-color-slide-focus: #7943A4;
  --gallery-gradient-slide-active: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));

  /*catalog*/

  --catalog-color-box-shadow-btn: rgba(157, 92, 208, 1);
  --catalog-color-border-btn: #7943A4;
  --catalog-accordion-color-title: #333333;
  --catalog-accordion-border-title-hover: #9D5CD0;
  --catalog-accordion-background-title-focus: #C283F3;
  --catalog-accordion-border-open-tab: #7943A4;
  --catalog-accardion-color-circle: #ECECEC;
  --catalog-accardion-color-circle-active: #D1A9F0;
  --catalog-accardion-border-circle-active: #9D5CD0;
  --catalog-accardion-background-author-focus: #9D5CD0;
  --catalog-accardion-background-author-hover: #9D5CD0;
  --catalog-accardion-background-author-active: #7943A4;
  --catalog-accardion-background-empty-pic: #B7B7B7;
  --catalog-accardion-background-link: #9D5CD0;

  --catalog-accardion-padding-control: 41px 0 41px;

  /*events*/

  --event-color-link: #9D5CD0;
  --event-color-link-focus: #9D5CD0;
  --event-color-link-hover: #7943A4;
  --event-color-link-active: #333333;
  --swiper-pagination-bullet-horizontal-gap: 7px;

  /*publication*/

  --publication-color-checkbox: #C283F3;
  --publication-color-checkbox-hover: #C283F3;
  --publication-color-checkbox-focus: #C283F3;
  --publication-color-checkbox-active: #C283F3;
  --publication-color-border-btn: #9D5CD0;
  --publication-color-background-input: rgba(157, 92, 208, 0.5);
  --publication-color-background-input-hover: #9D5CD0;
  --publication-color-background-input-focus: #9D5CD0;


  --text-font-size: 16px;
}
