:root {

  --theme-color: #9D5CD0;

  --theme-color-focus: #7943A4;
  --theme-color-hover: #9D5CD0;
  --theme-color-active: #7943A4;
  --text-color: #333333;

  --theme-color-btn-outer-rim: #C283F3;

  --border-color-default: #CACACA;

  --theme-color-btn-focus: #D1A9F0;
  --theme-color-btn-defolt: #ECECEC;

  /*Smoothness*/

  --transition-timing-function: ease-in-out;

  /*Time transition*/

  --transition-time: .3s;

  /*Padding container*/

  --desktop-padding: 80px 50px;
  --mobile-padding: 51px 15px;

  /*overlay*/

  --overlay-background: rgba(0,0,0,.8);

  /*header*/

      /*header top*/

  --header-top-background: #000000;
  --header-top-color-link: #FFFFFF;
  --header-top-color-link-focus: #7943A4;
  --header-top-color-link-hover: #C283F3;
  --header-top-color-link-active: #7943A4;
  --header-top-color-burger-focus: #9D5CD0;
  --header-top-color-burger-hover: #9D5CD0;
  --header-top-color-search-focus: #9D5CD0;
  --header-top-color-search-active: #9D5CD0;
  --header-top-color-search-hover: #9D5CD0;
  --header-top-background-search-bar: #18171B;

      /*header bottom*/

  --header-bottom-background: rgba(0, 0, 0, 0.4);
  --header-bottom-gradient-link: linear-gradient(rgba(194, 131, 243, .3), rgba(194, 131, 243, .3));
  --header-bottom-link-hover: #9D5CD0;
  --header-bottom-link-focus: #9D5CD0;
  --header-bottom-color-btn: #FFFFFF;
  --header-bottom-color-btn-active: #7943A4;
  --header-bottom-color-btn-hover: #9D5CD0;
  --header-bottom-color-btn-focus: #9D5CD0;

      /*header dropdown*/

  --header-dropdown-link-color: #FFFFFF;
  --header-dropdown-background: rgba(0, 0, 0, .9);

  --aside-burger-menu-color: #FFFFFF;
  --aside-burger-menu-padding: 36px 50px;
  --logo-aside-color-border: #E5E5E5;

  /*hero*/

  --hero-color-text: #FFFFFF;
  --hero-input-border: rgba(255, 255, 255, 0.85);
  --hero-input-border-hover: #9D5CD0;
  --hero-input-border-focus: #9D5CD0;
  --hero-input-border-active: #7943A4;
  --hero-input-color-placeholder: rgba(255, 255, 255, 0.85);

  /*gallery*/

  --gallery-color-slide-focus: #7943A4;
  --gallery-gradient-slide-active: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  --gallery-color-btn-focus: #7943A4;

  /*catalog*/

  --catalog-color-box-shadow-btn: rgba(157, 92, 208, 1);
  --catalog-color-border-btn: #7943A4;
  --catalog-accordion-color-title: #333333;
  --catalog-accordion-border-title-hover: #9D5CD0;
  --catalog-accordion-background-title-focus: #C283F3;
  --catalog-accordion-border-open-tab: #7943A4;
  --catalog-accardion-color-circle: #ECECEC;
  --catalog-accardion-color-circle-active: #D1A9F0;
  --catalog-accardion-border-circle-active: #9D5CD0;
  --catalog-accardion-background-author-focus: #9D5CD0;
  --catalog-accardion-background-author-hover: #9D5CD0;
  --catalog-accardion-background-author-active: #7943A4;
  --catalog-accardion-background-empty-pic: #B7B7B7;
  --catalog-accardion-background-link: #9D5CD0;

  --catalog-accardion-padding-control: 41px 0 41px;

  /*events*/

  --event-color-link: #9D5CD0;
  --event-color-link-focus: #9D5CD0;
  --event-color-link-hover: #7943A4;
  --event-color-link-active: #333333;
  --swiper-pagination-bullet-horizontal-gap: 7px;

  /*publication*/

  --publication-color-checkbox: #C283F3;
  --publication-color-checkbox-hover: #C283F3;
  --publication-color-checkbox-focus: #C283F3;
  --publication-color-checkbox-active: #C283F3;
  --publication-color-border-btn: #9D5CD0;
  --publication-color-background-input: rgba(157, 92, 208, 0.5);
  --publication-color-background-input-hover: #9D5CD0;
  --publication-color-background-input-focus: #9D5CD0;

  /*project*/

  --project-background-tooltip: #9D5CD0;
  --project-color-tooltip: #FFFFFF;

  --project-background-button-tooltip-hover: #D1A9F0;
  --project-background-button-tooltip-focus: #D1A9F0;

  --project-border-color-slide-focus: #7943A4;
  --project-border-color-slide-hover: #7943A4;

  --project-color-link: #9D5CD0;

  --text-font-size: 16px;
}
