$colorBackground: cyan;
$colorStrongDark: #202020;
$colorDark: #4A4A4A;
$lightGrey: #E9E9E9;
$grey: #CACACA;
$colorPrimary: #FF6E30;
$colorDarkPrimary: #BC572B;
$colorStrongPrimary: #CE4307;
$colorSecondary: #C4C4C4;
$colorYellow: #FFF500;
