@import './offer';

.special-offers {
  &__container {
    @include container;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__title {
    @include title-h2;
  }

  &__swiper {
    width: 100%;
    overflow: hidden;
  }

  &__wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__slide.swiper-slide {
    width: calc(25% - 24px);
    min-width: 200px;
    max-width: 296px;
    min-height: 510px;

    &:nth-child(3n + 2) {
      width: calc(50% - 16px);
      min-width: 500px;
      max-width: 634px;
    }
  }

  &__buttons {
    display: inline-flex;
    justify-content: space-between;
    width: 77px;
  }

  &__button-prev {
    @include slider-button;

    transform: rotate(180deg);
  }

  &__button-next {
    @include slider-button;
  }

  @media (max-width: 1220px) {
    &__slide.swiper-slide {
      width: 100%;
      min-width: 200px;
      max-width: 450px;

      &:nth-child(3n + 2) {
        width: 100%;
        min-width: 200px;
        max-width: 450px;
      }
    }
  }

  @media (max-width: 600px) {
    &__swiper {
      margin-bottom: 16px;
    }

    &__slide.swiper-slide {
      width: 100%;
      min-width: 200px;
      max-width: 100%;

      &:nth-child(3n + 2) {
        width: 100%;
        min-width: 200px;
        max-width: 100%;
      }
    }

    &__buttons {
      justify-self: center;
      order: 3;
      margin: auto;
    }
  }
}
