@import 'variables';

@mixin container {
  position: relative;
  max-width: calc(1280px + 60px);
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;

  @media (max-width: 1160px) {
    padding-right: 37px;
    padding-left: 37px;
  }

  @media (max-width: 1000px) {
    padding-right: 72px;
    padding-left: 72px;
  }

  @media (max-width: 750px) {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@mixin plug {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: 1000;
  display: block;
  background-color: #fff;
}

@mixin title-reset {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

@mixin img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

@mixin title-h2 {
  @include title-reset;

  display: inline-block;
  margin-bottom: 26px;
  color: $black;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;

  @media (max-width: 750px) {
    font-size: 24px;
    line-height: 24px;
  }
}

@mixin link-reset {
  text-decoration: none;
}

@mixin arrow-direction {
  &::after {
    position: absolute;
    top: 31%;
    right: 8px;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    border: none;
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.2s ease-out, margin-top 0.2s ease-out,
      border-color 0.2s ease-out;
    content: '';
  }

  &[aria-expanded*='true']::after {
    margin-top: 4px;
    transform: rotate(225deg);
  }

  &:hover {
    &::after {
      border-color: $primary-light;
    }

    color: $primary-light;
  }

  &:focus {
    &::after {
      border-color: $primary-shade;
    }

    color: $primary-shade;
    background-color: $pink-violet;
    outline: none;
  }
}

@mixin input {
  background-color: $grey-light;
  border: 2px solid transparent;
  transition: border-color 0.2s ease-out, background-color 0.2s ease-out;

  &::placeholder {
    color: $grey;
    font-size: 16px;
    line-height: 19px;
  }

  &:hover {
    background-color: $md-grey;
  }

  &:focus {
    background-color: $pink-light;
    border-color: $primary-color;
    outline: none;
  }
}

@mixin button-reset {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background-color: unset;
  border: none;
}

@mixin button-state {
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  &:active {
    color: #fff;
    background-color: $primary-shade;
    border-color: $primary-shade;
  }

  &:disabled {
    color: $grey;
    background-color: $md-grey;
    cursor: no-drop;

    &:hover {
      color: $grey;
      background-color: $md-grey;
    }

    &:active {
      color: $grey;
      background-color: $md-grey;
      border-color: transparent;
    }
  }
}

@mixin button-primary {
  @include button-reset;
  @include button-state;

  color: #fff;
  font-weight: 700;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-light;
  }

  &:focus {
    background-color: $primary-light;
    border-color: $primary-shade;
  }
}

@mixin button-secondary {
  @include button-reset;
  @include button-state;

  color: $primary-color;
  font-weight: 600;
  background-color: transparent;
  border-color: $primary-color;

  &:hover {
    color: #fff;
    background-color: $primary-color;
  }

  &:focus {
    color: #fff;
    background-color: $primary-light;
  }
}

@mixin button-sticks($closed: false) {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  background-color: $primary-color;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  transition-delay: 0.1s;
  transition-property: background-color;

  &::before,
  &::after {
    transition: transform 0.3s ease-in-out;
  }

  &::before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: $primary-color;
    border-radius: 4px;
    transform: translateY(-7px);
    content: '';
  }

  &::after {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: $primary-color;
    border-radius: 4px;
    transform: translateY(7px);
    content: '';
  }

  @media (max-width: 1000px) {
    &::before {
      transform: translateY(-10px);
    }

    &::after {
      transform: translateY(10px);
    }
  }

  @media (max-width: 640px) {
    &::before {
      transform: translateY(-11px);
    }

    &::after {
      transform: translateY(11px);
    }
  }

  @if $closed {
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;
    transition-delay: unset;

    &::before {
      transform: translateY(0);
      transform: rotate(45deg);
    }

    &::after {
      transform: translateY(0);
      transform: rotate(-45deg);
    }
  }
}

@mixin footer-title {
  margin: 0;
  margin-bottom: 6px;
  color: $black;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  @media (max-width: 1000px) {
    margin-bottom: 4px;
  }
}

@mixin link-state {
  position: relative;
  z-index: 0;
  display: inline-block;
  color: $grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  transition: color 0.3s ease-out;
  @include link-reset;

  &::before {
    position: absolute;
    top: -1px;
    right: -10px;
    bottom: -1px;
    left: -10px;
    z-index: -1;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
    content: '';
  }

  &:hover {
    color: $primary-color;
  }

  &:focus {
    color: $primary-shade;
    outline: none;

    &::before {
      background-color: $pink-violet;
    }
  }

  &:active {
    color: $primary-shade;
  }
}

@mixin slider-button-hover {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23A65CF0'/%3E%3Cpath d='M14 11L19 16L14 21' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

@mixin slider-button-focus {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='15' fill='%23C998FB' stroke='%23A65CF0' stroke-width='2'/%3E%3Cpath d='M14 11L19 16L14 21' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

@mixin slider-button-active {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%237033AC'/%3E%3Cpath d='M14 11L19 16L14 21' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

@mixin slider-button-disabled {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 11L19 16L14 21' stroke='%23999999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='16' cy='16' r='15' stroke='%23999999' stroke-width='2'/%3E%3C/svg%3E%0A");
}

@mixin slider-button {
  @include button-reset;

  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 11L19 16L14 21' stroke='%23A65CF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='16' cy='16' r='15' stroke='%23A65CF0' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease-in-out;

  &:hover {
    @include slider-button-hover;
  }

  &:focus {
    @include slider-button-focus;

    outline: none;
  }

  &:active {
    @include slider-button-active;
  }

  &:disabled {
    @include slider-button-disabled;
  }
}

@mixin arrow-button-hover {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='11' fill='%23A65CF0'/%3E%3Cpath d='M9.625 7.5625L13.0625 11L9.625 14.4375' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

@mixin arrow-button-focus {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='10' fill='%23C998FB' stroke='%23A65CF0' stroke-width='2'/%3E%3Cpath d='M9.625 7.5625L13.0625 11L9.625 14.4375' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

@mixin arrow-button-active {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='11' fill='%237033AC'/%3E%3Cpath d='M9.625 7.5625L13.0625 11L9.625 14.4375' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

@mixin arrow-button {
  @include button-reset;

  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.625 7.5625L13.0625 11L9.625 14.4375' stroke='%23A65CF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='11' cy='11' r='10' stroke='%23A65CF0' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease-in-out;

  &:hover {
    @include arrow-button-hover;
  }

  &:focus {
    @include arrow-button-focus;

    outline: none;
  }

  &:active {
    @include arrow-button-active;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
