$primary-color: #a65cf0;
$primary-light: #c998fb;
$primary-shade: #7033ac;
$pink-light: #f8efff;
$pink-violet: #ebd1ff;
$secondary-color: #ff862f;
$secondary-light: #ffbd59;
$bone-color: #fff5d1;
$secondary-shade: #bb370e;
$md-grey: #eaeaea;
$gold: #d5b986;
$grey-light: #f6f6f6;
$grey: #999;
$black: #333;
