@import '../../mixin';
@import '../../variables';

@import './category';

.top-categories {
  &__container {
    @include container;

    margin-bottom: 70px;
  }

  &__title {
    @include title-h2;

    text-align: left;
  }

  &__list {
    display: grid;
    grid-template-rows: 511px 405px;
    grid-template-columns: repeat(6, minmax(150px, 188px));
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    &:nth-child(1) {
      grid-column: span 3;
    }

    &:nth-child(2) {
      grid-column: span 3;
    }
  }

  @media (max-width: 1160px) {
    &__list {
      grid-template-rows: repeat(2, 511px);
      grid-template-columns: repeat(3, minmax(150px, 1fr));
    }

    &__item {
      &:nth-child(1) {
        grid-column: span 2;
        order: 1;
      }

      &:nth-child(2) {
        grid-column: span 1;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 3;
      }
    }
  }

  @media (max-width: 1000px) {
    &__list {
      grid-template-rows: repeat(3, 511px);
      grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    &__item {
      grid-column: span 1;

      &:nth-child(1) {
        grid-column: span 2;
        order: 1;
      }

      &:nth-child(4) {
        order: 4;
      }
    }
  }

  @media (max-width: 450px) {
    &__container {
      margin-bottom: 79px;
    }

    &__list {
      grid-template-rows: 332px repeat(2, 206px);
      grid-template-columns: repeat(2, minmax(130px, 1fr));
      column-gap: 16px;
    }

    &__item {
      &:nth-child(1) {
        grid-column: span 2;
      }
    }
  }
}
