@import "../../styles/_mixin.scss";
@import "../../styles/_variables.scss";

.about-us {
  background-color: $colorStrongDark;

  &__container {
    @include container;
    padding-top: 30px;
    padding-bottom: 69px;
  }

  &__title {
    @include title;
    margin-bottom: 2px;
    @include fontTTFirsNeue;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
  }

  &__grid {
    display: grid;
    grid-template-rows: minmax(255px, auto) minmax(88px, auto);
    //grid-template-rows: repeat(auto-fill, minmax(88px, 1fr));
    grid-template-columns: repeat(2, calc(50% - 15px));
    //grid-template: 255px 88px / repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 30px;
  }

  &__discription {
    grid-row: span 2;
    grid-column: span 1;
    align-self: center;
  }

  &__info {
    @include p;
    font-size: 16px;
    line-height: 28px;
    color: $grey;
  }

  &__decorate-pic {
    background-color: #C4C4C4;
    background-image: url("images/decorateAboutUs.jpg");
    background-size: cover;
    background-position: 50%;
  }

  &__form-subscription {

  }

  &__label {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    @include fontTTFirsNeue;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 22px;
  }

  &__form-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    @include inputPseudoClass;
    width: 474px;
    min-width: 278px;
    height: 50px;
    padding: 15px 15px 15px 23px;
    border: 1px solid transparent;
    border-radius: 0;
    color: #FFFFFF;
    background-color: $colorDark;
    font-size: 16px;
    line-height: 19px;
  }

  &__send-button {
    @include buttonPrimary;
    order: 3;
  }

  @media (max-width: 1330px) {

    &__container {
      padding-bottom: 61px;
    }

    //&__title {
    //  margin-bottom: 4px;
    //}

    &__discription {
      //align-self: unset;
      margin-top: 2px;
    }

    &__info {
      //max-width: 88%;
    }

    &__decorate-pic {
      background-color: #C4C4C4;
      background-image: url("images/decorateAboutUs-1024.jpg");
      background-size: cover;
      background-position: 50%;
    }

    &__form-wrapper {
      flex-direction: column;
    }

    &__label {
      margin-bottom: 14px;
    }

    &__input {
      display: block;
      width: 100%;
      max-width: 342px;
      margin-bottom: 20px;
    }

    &__grid {
      grid-template-rows: minmax(255px, 332px) minmax(88px, auto);
    }
  }

  @media (max-width: 940px) {

    &__container {
      padding-bottom: 63px;
    }

    &__grid {
      grid-template-rows: minmax(255px, 1fr) minmax(165px, auto);
    }

    &__label {
      margin-bottom: 16px;
    }

  }

  @media (max-width: 700px) {

    &__container {
      padding-bottom: 60px;
    }

    &__grid {

      grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
      grid-template-rows: minmax(255px, 1fr) minmax(278px, auto);
      row-gap: 24px;
    }

    &__info {
      font-size: 14px;
      line-height: 25px;
    }

    &__discription {
      grid-row: unset;
    }

    &__decorate-pic {
      height: 100%;
    }

    &__label {
      margin-bottom: 14px;
      font-size: 18px;
      line-height: 22px;
    }

    &__input {
      height: 40px;
      margin-bottom: 21px;
      font-size: 14px;
      line-height: 16px;
    }

  }

}

