section.about-us
  .__container
    h2.__title О студии
    .__grid
      .__discription
        p.__info В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально&nbsp;-&nbsp;технической&nbsp; и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.
      .__decorate-pic
      form.__form-subscription
        label.__label(for='emailInput') Подписаться на рассылку
        .__form-wrapper
          input.__input(placeholder='E-mail' id='emailInput' data-validate-field="email")
          button.__send-button(type='submit') Отправить
