doctype html
html(lang='ru', class='page')
  head
    title Диван тканевый прямой “D-31”
    include ../includes/head.pug
    meta(name='description' content='Магагазин SitDownPls примой диван D-31')
    link(rel='stylesheet' href='./css/card-product.min.css')
    script(defer src='./js/card-product.js')
  body.page__body
    include ../includes/header.pug
    include ../includes/modal.pug
    .breadcrumps
      span.breadcrumps__passed Главная / Каталог / Диваны / Прямые диваны /
      span.breadcrumps__active &nbsp;D-31
    include ../includes/card-product.pug
    include ../includes/footer.pug
