doctype html
html(lang='ru', class='page')
  head
    title Контакты
    meta(name='description' content='Магагазин SitDownPls наши филиалы')
    include ../includes/head.pug
    link(rel='stylesheet' href='./css/contact.min.css')
    //- 373a2fb4-7a7a-4a04-9e68-4ccb6065477a
    script(defer src="https://api-maps.yandex.ru/2.1/?apikey=373a2fb4-7a7a-4a04-9e68-4ccb6065477a&lang=ru_RU")
    script(defer src='./js/contact.js')
  body.page__body
    include ../includes/header.pug
    .breadcrumps
      span.breadcrumps__passed Главная /
      span.breadcrumps__active &nbsp;Контакты
    include ../includes/contact.pug
    include ../includes/footer.pug
