doctype html
html(lang='ru', class='page')
  head
   title seatDownPlease
  body.page__body
    include ../includes/header.pug
    include ../includes/hero.pug
    include ../includes/special-offers.pug
    include ../includes/high-rating.pug
    include ../includes/banner.pug
    include ../includes/top-categories.pug
    include ../includes/useful.pug
    include ../includes/form.pug
    include ../includes/footer.pug
