/*value contact*/

.form__value-contact {
    width: 100%;
    padding: 2px 0 0 11px;
    margin: 0;
    border: none;
}

.form__value-contact::placeholder {
    color: var(--color-grey);
    font-size: 14px;
    line-height: 19px;
}

.form__value-contact::-webkit-outer-spin-button,
.form__value-contact::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}