.breadcrumps {
  @include container;

  grid-column: span 4;
  margin-top: -14px;
  margin-bottom: 32px;

  &__passed,
  &__active {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  &__passed {
    color: $grey;
  }

  &__active {
    color: $primary-shade;
  }

  @media (max-width: 1160px) {
    grid-column: span 1;
  }

  @media (max-width: 1000px) {
    margin-top: -11px;
  }

  @media (max-width: 640px) {
    display: none;
  }
}
