/*About Us*/

.container__about-us {
  padding-bottom: 70px;
}

.about-us__title {
  margin-bottom: 15px;
}

.about-us__text {
  max-width: 1080px;
}

@media (max-width: 1024px) {

  .container__about-us {
    padding-bottom: 70px;
  }

  .about-us__title {
    margin-bottom: 16px;
  }

}

@media (max-width: 480px) {

  .container__about-us {
    padding-top: 51px;
    padding-bottom: 40px;
  }

  .about-us__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 11px;
  }

}
