/*Accordion*/

.accordion__content {
  display: none;
}

.open .accordion__content {
  display: inline-block;
}

.open .accordion__icon {
  transform: rotate(45deg);
}

.accordion__control {
  cursor: pointer;
}
