/*Catalog*/

.catalog__container {
  padding-bottom: 0;
}

.catalog__title-list {
  display: flex;
  justify-content: flex-start;
  min-height: 62px;
  margin-bottom: 13px;
}

.catalog__title {
  display: inline-block;
  max-width: 50%;
  margin-right: 40px;
}

.catalog__list {
  display: inline-block;
  align-self: flex-end;
  height: 56px;
}

.catalog__item:not(:last-child) {
  margin-right: 46px;
}

.catalog__item {
  display: inline-block;
}

.catalog__text {
  max-width: 1080px;
  margin-bottom: 39px;
}

.tabs__button {
  position: relative;
  transition: box-shadow var(--transition-time) var(--transition-timing-function);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: visible;
  background-color: transparent;
  cursor: pointer;
}

.tab-content {
  display: none;
}

.tabs__button:hover,
.tabs__button:focus {
  outline: none;
  box-shadow: 0 0 30px var(--catalog-color-box-shadow-button);
}

.tabs__button::before {
  content: '';
  position: absolute;
  display: block;
  opacity: 0;
  transform: scale(1.0, 1.0);
  border-radius: 50%;
  transition: transform var(--transition-time) var(--transition-timing-function), opacity var(--transition-time) var(--transition-timing-function);
}

.active {
  pointer-events: none;
}

.tabs__button.active::before {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1.5, 1.5);
  border: 2px solid var(--catalog-color-border-button);
  background: transparent;
}

.catalog__icon {
  position: relative;
  width: 46px;
  height: 46px;
  transform: scale(1.005);
}

/*Accordion*/

.catalog-accordion {
  display: flex;
  justify-content: space-between;
}

.catalog-accordion__list-pic {
  width: calc(50% - 50px);
}

.catalog-accordion__list {
  width: calc(50%);
}

.catalog-accordion__list {
  border-bottom: 1px solid var(--border-color-default);
}

.catalog-accordion__item-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.catalog-accordion__item:first-child {
  border-top: 1px solid var(--border-color-default);
}

.catalog-accordion__item {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--border-color-default);
  transition: border-color var(--transition-time) var(--transition-timing-function);
}

.catalog-accordion__item:hover {
  border-top: 1px solid var(--catalog-accordion-border-title-hover);
  border-bottom: 1px solid var(--catalog-accordion-border-title-hover);
}

.catalog-accordion__item-control {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--catalog-accardion-padding-control);
  background-color: transparent;
  transition: background-color, color var(--transition-time) var(--transition-timing-function);
}

.catalog-accordion__item-control:focus {
  outline: none;
}

.open-tab.catalog-accordion__item-control:focus .catalog-accordion__item-title {
  background-color: var(--catalog-accordion-border-title-hover);
  color: #ffffff;
}

.catalog-accordion__item-control:focus .catalog-accordion__item-title {
  transition: background-color var(--transition-time) var(--transition-timing-function), color var(--transition-time) var(--transition-timing-function);
  background-color: var(--catalog-accordion-border-title-hover);
  color: #ffffff;
}

.open-tab {
  border-top: 1px solid var(--catalog-accordion-border-open-tab);
  border-bottom: 1px solid var(--catalog-accordion-border-open-tab);
}

.open-tab.catalog-accordion__item-control .catalog-accordion__item-title {
  color: #9d5cd0;
  background-color: transparent;
}

.open-tab.catalog-accordion__item-control .catalog-accordion__item-title,
.catalog-accordion__item:hover .catalog-accordion__item-title {
  transition: color var(--transition-time) var(--transition-timing-function);
}

.catalog-accordion__item:hover .catalog-accordion__item-title {
  color: var(--catalog-accordion-border-title-hover);
}

.open.catalog-accordion__item-header,
.open.catalog-accordion__item {
  border-top: none;
}

.open.catalog-accordion__item-header {
  border-bottom: none;
}

.open .catalog-accordion__item-header:last-child {
  border-bottom: none;
}

.catalog-accordion__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--catalog-accordion-color-title);
}

.catalog-accordion__item-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  will-change: max-height;
  transition: max-height var(--transition-time) var(--transition-timing-function), padding var(--transition-time) var(--transition-timing-function), visibility var(--transition-time) var(--transition-timing-function);
}

.open.catalog-accordion__item-content {
  max-height: 360px;
  padding: 25px 0;
  visibility: visible;
}

.catalog-accordion__item-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  max-height: 310px;
  opacity: 1;
}

.catalog-accordion__item-title::before,
.catalog-accordion__item-title::after {
  content: '';
  position: absolute;
  display: block;
}

.catalog-accordion__item-title::before {
  right: 0;
  top: 28%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--catalog-accardion-color-circle);
  border: 1px solid transparent;
  transition: background-color var(--transition-time) var(--transition-timing-function), border-color var(--transition-time) var(--transition-timing-function);
}

.catalog-accordion__item-title::after {
  right: 19px;
  top: 44%;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  transform-origin: center;
  transition: transform var(--transition-time) var(--transition-timing-function);
}

.open-tab .catalog-accordion__item-title::after {
  transform: rotate(225deg) translate(-3px, -3px);
}

.open-tab .catalog-accordion__item-title::before {
  background-color: var(--catalog-accardion-color-circle-active);
  border-color: var(--catalog-accardion-border-circle-active);
}

.catalog-accordion__item-control:focus .catalog-accordion__item-title::before,
.catalog-accordion__item-control:hover .catalog-accordion__item-title::before {
  background-color: var(--catalog-accardion-color-circle-active);
}

.catalog-accordion__item-element {
  width: calc(90% / 3);
  margin-right: 16px;
  font-size: 16px;
  line-height: 32px;
}

.catalog-accordion__element-button {
  padding: 5px 0 2px;
  border-bottom: 1px solid transparent;
  transition: background-color var(--transition-time) var(--transition-timing-function), color var(--transition-time) var(--transition-timing-function);
}

.catalog-accordion__element-button:focus {
  outline: none;
  background-color: var(--catalog-accardion-background-author-focus);
  color: #FFFFFF;
}

.catalog-accordion__element-button:hover {
  border-bottom: 1px solid var(--catalog-accardion-background-author-hover);
}

.active-button {
  color: var(--catalog-accardion-background-author-active);
  background-color: transparent;
}

.catalog-accordion__pic img {
  margin-bottom: 31px;
}

.catalog-accordion__pic-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.catalog-accordion__pic-text {
  max-width: 760px;
}

.catalog-accordion__pic-title + .text {
  display: inline-block;
  margin-bottom: 7px;
}

.open.catalog-accordion__item-empty {
  flex-direction: row;
  padding-left: 12px;
  color: #333333;
}

.catalog-accordion__tab-content {
  display: none;
  width: 100%;
}

.catalog-accordion__empty-block {
  display: block;
  width: 100%;
}

.catalog-accordion__item-pic {
  position: relative;
  width: 275px;
  height: 189px;
  padding-top: 189px;
  margin: 12px;
  background-color: var(--catalog-accardion-background-empty-pic);
}

.catalog-accordion__item-pic::after {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  border: 2px solid var(--catalog-accardion-background-empty-pic);
}

.catalog-accordion__item-desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 300px;
  padding: 52px 0;
  margin-left: 24px;
}

.catalog-accordion__item-subtitle {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.catalog-accordion__item-text {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.catalog-accordion__tab-link,
.catalog-accordion__item-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--catalog-accardion-background-link);
  transition: color var(--transition-time) var(--transition-timing-function);
}

.catalog-accordion__tab-link:hover,
.catalog-accordion__item-link:hover {
  color: var(--catalog-accardion-background-link-hover)
}

@media (max-width: 1422px) {

  .catalog__title-list {
    height: 68px;
    margin-bottom: 12px;
  }

  .catalog__title {
    margin-right: 43px;
  }

  .catalog__list {
    height: 50px;
  }

  .open.catalog-accordion__item-content {
    max-height: 460px;
  }

  .catalog-accordion__item-list {
    max-height: 410px;
  }

  .catalog-accordion__item-content.catalog-accordion__item-empty.open {
    max-height: 250px;
  }

  .catalog__text {
    margin-bottom: 39px;
  }

  .catalog-accordion__list {
    width: calc(50% - 25px);
  }

  .catalog-accordion__list-pic {
    width: calc(50% - 25px);
  }

  .catalog-accordion__item-element {
    width: calc(100% / 2);
    margin-right: 42px;
  }

  .catalog-accordion__pic-title {
    margin-bottom: 5px;
  }

  .catalog-accordion__pic-title + .text {
    margin-bottom: 7px;
  }

  .catalog-accordion__item-pic {
    width: 173px;
    height: 114px;
    padding-top: 114px;
    margin: 8px;
  }

  .catalog-accordion__item-pic::after {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }

  .catalog-accordion__item-desc {
    width: 207px;
    padding: 0 0;
  }

}

@media (max-width: 1018px) {

  .catalog__title-list {
    height: 62px;
    margin-bottom: 19px;
  }

  .catalog__title {
    margin-right: 39px;
  }

  .catalog__item:not(:last-child) {
    margin-right: 50px;
  }

  .catalog__text {
    margin-bottom: 20px;
  }

  .catalog-accordion {
    flex-direction: column;
  }

  .catalog-accordion__list,
  .catalog-accordion__list-pic {
    width: 100%;
  }

  .catalog-accordion__list {
    order: 1;
    margin-bottom: 50px;
  }

  .catalog-accordion__list-pic {
    order: 2;
  }

  .catalog-accordion__item-element {
    width: calc(100% / 3);
    margin-right: 12px;
  }

  .open.catalog-accordion__item-content {
    max-height: 340px;
    padding: 25px 0;
  }

  .catalog-accordion__item-list {
    max-height: 290px;
  }

  .accordion__pic img {
    margin-bottom: 32px;
  }

}

@media (max-width: 920px) {

  .tabs__button:hover,
  .tabs__button:focus {
    box-shadow: none;
  }

  .catalog-accordion__item-control:focus .catalog-accordion__item-title {
    background-color: unset;
    color: #000000;
  }

  .catalog-accordion__item-control:focus .catalog-accordion__item-title::before,
  .catalog-accordion__item-control:hover .catalog-accordion__item-title::before {
    background-color: var(--catalog-accardion-color-circle);
  }

  .open-tab .catalog-accordion__item-title::before {
    background-color: var(--catalog-accardion-color-circle-active);
  }

  .catalog-accordion__element-button,
  .catalog-accordion__item {
    transition: none;
  }

  .catalog-accordion__item:hover {
    border-top: 1px solid var(--border-color-default);
    border-bottom: 1px solid var(--border-color-default);
  }

  .catalog-accordion__item:hover.open {
    border-top: none;
  }

  .catalog-accordion__item:hover + .catalog-accordion__item.open .catalog-accordion__item {
    border-bottom: none;
  }

  .catalog-accordion__item:hover .catalog-accordion__item-title {
    color: var(--catalog-accordion-color-title);
  }

  .catalog-accordion__element-button:focus {
    color: unset;
    background-color: var(--document-background-color);
  }

  .catalog-accordion__element-button:hover {
    border-color: transparent;
  }

  .catalog-accordion__element-button.active-button {
    color: var(--catalog-accardion-background-author-active);
  }

  .catalog-accordion__item:hover .catalog-accordion__item-control:focus .catalog-accordion__item-title {
    color: unset;
  }
}

@media (max-width: 767px) {

  .catalog__title {
    display: block;
    width: 100%;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    align-self: unset;
  }

  .catalog__item:not(:last-child) {
    margin-right: unset;
  }

  .open.catalog-accordion__item-content {
    align-content: space-between;
    max-height: 434px;
  }

  .catalog-accordion__item-list {
    max-height: 384px;
  }

  .catalog-accordion__item-element {
    width: calc((100% / 2) + 20px);
  }

  .catalog__title-list {
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    margin-bottom: 16px;
  }

  .catalog-accordion__item-pic {
    width: 30%;
    height: 165px;
    padding-top: 165px;
    margin: 12px;
  }

  .catalog-accordion__item-pic::after {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
  }

  .catalog-accordion__item-desc {
    width: 207px;
    padding: 29px 0;
  }

}

@media (max-width: 564px) {

  .open.catalog-accordion__item-content {
    max-height: 808px;
    padding: 20px 0;
  }

  .catalog-accordion__item-list {
    max-height: 808px;
  }

  .catalog-accordion__item-pic {
    width: 79px;
    height: 118px;
    padding-top: 118px;
    margin: 6px;
  }

  .catalog-accordion__item-pic::after {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
  }

  .catalog-accordion__item-desc {
    width: 174px;
    padding: 0 0;
  }

  .catalog-accordion__item-title {
    font-size: 18px;
    line-height: 32px;
  }

  .catalog-accordion__item-control {
    --catalog-accardion-padding-control: 20px 30px 20px 0;
  }

  .catalog-accordion__item-content.open.catalog-accordion__item-empty {
    max-height: 250px;
  }

  .catalog-accordion__item-title::before {
    width: 30px;
    height: 30px;
  }

  .catalog-accordion__item-title::after {
    right: 11px;
    width: 7px;
    height: 7px;
  }

  .catalog-accordion__item-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .catalog-accordion__item-text {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
  }
}


@media (max-width: 480px) {

  .catalog__container {
    padding: var(--mobile-padding);
  }

  .catalog__title-list {
    height: 85px;
    margin-bottom: 17px;
  }

  .catalog__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .catalog__item:not(:last-child) {
    margin-right: 28px;
  }

  .catalog__list {
    align-items: flex-end;
  }

  .tabs__button,
  .catalog__icon {
    width: 32px;
    height: 32px;
  }

  .tabs__button.active::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.4, 1.4);
    border-width: 1px;
  }

  /*.catalog__text {*/
  /*  display: none;*/
  /*}*/
  [data-target="Italy"] .catalog__text {
    display: none;
  }

  .catalog-accordion__item-title::before {
    top: 22px;
    width: 30px;
    height: 30px;
  }

  .catalog-accordion__item-title::after {
    right: 11px;
    top: 32px;
    width: 7px;
    height: 7px;
  }

  .open-tab .catalog-accordion__item-title::after {
    transform: rotate(225deg) translate(0px, -1px);
  }

  .catalog-accordion__item-element {
    width: 100%;
  }

  .catalog-accordion__item-control {
    padding: 20px 0 20px;
  }

  .catalog-accordion__item-title {
    font-size: 18px;
    line-height: 32px;
  }

  .catalog-accordion__pic img {
    margin-bottom: 20px;
  }

  .catalog-accordion__pic-title {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 9px;
  }

  .catalog-accordion__pic-text {
    font-size: 16px;
    line-height: 2em;
  }

  .catalog-accordion__pic-title + .text {
    margin-bottom: 4px;
  }

  .catalog-accordion__list {
    margin-bottom: 49px;
  }
}
