/*Catalog*/

.container__catalog {
  padding-bottom: 0;
}

.catalog__title-list {
  display: flex;
  justify-content: flex-start;
  height: 60px;
  margin-bottom: 20px;
}

.catalog__title {
  display: inline-block;
  margin-right: 40px;
}

.catalog__list {
  display: inline-block;
  align-self: flex-end;
}

.catalog__item:not(:last-child) {
  margin-right: 46px;
}

.catalog__item {
  display: inline-block;
}

.catalog__text {
  max-width: 1080px;
  margin-bottom: 39px;
}

.tabs__btn {
  position: relative;
  transition: box-shadow var(--transition-time) var(--transition-timing-function);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: visible;
  background-color: transparent;
}

.tab-content {
  display: none;
}

.tabs__btn:hover,
.tabs__btn:focus {
  outline: none;
  box-shadow: 0 0 30px var(--catalog-color-box-shadow-btn);
}

.tabs__btn::before {
  content: '';
  position: absolute;
  display: block;
  opacity: 0;
  transform: scale(1.0, 1.0);
  border-radius: 50%;
  transition: transform var(--transition-time) var(--transition-timing-function), opacity var(--transition-time) var(--transition-timing-function);
}

.active {
  pointer-events: none;
}

.tabs__btn.active::before {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1.5, 1.5);
  border: 2px solid var(--catalog-color-border-btn);
  background: transparent;
}

.catalog__icon {
  position: relative;
  width: 46px;
  height: 46px;
  transform: scale(1.005);
}

/*Accordion*/

.accordion-container {
  display: flex;
  justify-content: space-between;
}

.catalog__accordion-list-pic {
  width: calc(50% - 50px);
}

.catalog__accordion-list {
  width: calc(50%);
}

.accordion-gallery__header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.catalog__accordion-item {
  border-top: 1px solid var(--border-color-default);
  transition: border-color var(--transition-time) var(--transition-timing-function);
}

.catalog__accordion-item:last-child {
  border-bottom: 1px solid var(--border-color-default);
}

.catalog__accordion-item:hover + .catalog__accordion-item {
  border-top: none;
}

.catalog__accordion-item:hover {
  border-top: 1px solid var(--catalog-accordion-border-title-hover);
  border-bottom: 1px solid var(--catalog-accordion-border-title-hover);
}

.catalog__accordion-control {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--catalog-accardion-padding-control);
  background-color: transparent;
}

.catalog__accordion-control:focus {
  outline: none;
}

.catalog__accordion-control:focus .catalog__accordion-title {
  transition: background-color var(--transition-time) var(--transition-timing-function), color var(--transition-time) var(--transition-timing-function);
  background-color: var(--catalog-accordion-background-title-focus);
  color: #FFFFFF;
}

.open-tab {
  border-top: 1px solid var(--catalog-accordion-border-open-tab);
  border-bottom: 1px solid var(--catalog-accordion-border-open-tab);
}

.tab-content-active {
  display: block !important;
}

.open-tab .accordion-gallery__header:hover {
  border-top: none;
}

.open-tab.catalog__accordion-control .catalog__accordion-title,
.catalog__accordion-item:hover .catalog__accordion-title {
  transition: color var(--transition-time) var(--transition-timing-function);
}

.catalog__accordion-item:hover .catalog__accordion-title {
  color: var(--catalog-accordion-border-title-hover);
}

.open-tab.catalog__accordion-control .catalog__accordion-title {
  color: var(--catalog-accordion-border-title-hover);
}

.open.accordion-gallery__header,
.open.catalog__accordion-item {
  border-top: none;
}

.open.accordion-gallery__header {
  border-bottom: none;
}

.open .accordion-gallery__header:last-child {
  border-bottom: none;
}

.catalog__accordion-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--catalog-accordion-color-title);
}

.accordion-gallery__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  will-change: max-height, opacity;
  transition: all var(--transition-time) var(--transition-timing-function);
}

.open.accordion-gallery__content {
  opacity: 1;
  padding: 25px 0;
  max-height: 340px;
  visibility: visible;
}

.catalog__accordion-title::before,
.catalog__accordion-title::after {
  content: '';
  position: absolute;
  display: block;
}

.catalog__accordion-title::before {
  right: 0;
  top: 33px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--catalog-accardion-color-circle);
  border: 1px solid transparent;
  transition: background-color var(--transition-time) var(--transition-timing-function), border-color var(--transition-time) var(--transition-timing-function);
}

.catalog__accordion-title::after {
  right: 19px;
  top: 50px;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  transform-origin: center;
  transition: transform var(--transition-time) var(--transition-timing-function);
}

.open-tab .catalog__accordion-title::after {
  transform: rotate(225deg) translate(-2px, -2px);
}

.open-tab .catalog__accordion-title::before {
  background-color: var(--catalog-accardion-color-circle-active);
  border-color: var(--catalog-accardion-border-circle-active);
}

.catalog__accordion-control:focus .catalog__accordion-title::before,
.catalog__accordion-control:hover .catalog__accordion-title::before {
  background-color: var(--catalog-accardion-color-circle-active);
}

.accordion__content-item {
  width: calc(90%/3);
  margin-right: 16px;
  font-size: 16px;
  line-height: 32px;
}

.accordion__item-btn {
  padding: 5px 0 2px;
  border-bottom: 1px solid transparent;
  transition: background-color var(--transition-time) var(--transition-timing-function), color var(--transition-time) var(--transition-timing-function);
}

.accordion__item-btn:focus {
  outline: none;
  background-color: var(--catalog-accardion-background-author-focus);
  color: #FFFFFF;
}

.accordion__item-btn:hover {
  border-bottom: 1px solid var(--catalog-accardion-background-author-hover);
}

.active-button {
  color: var(--catalog-accardion-background-author-active);
  background-color: transparent;
}

.accordion__pic img {
  margin-bottom: 31px;
}

.accordion__pic-desc-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.accordion__pic-desc-text {
  max-width: 760px;
  margin-top: 7px;
}

.open.accordion__empty {
  flex-direction: row;
  padding-left: 12px;
  color: #333333;
}

.tab-content__accordion-list-pic {
  display: none;
  width: 100%;
}

.accordion-empty-block {
  display: block;
  width: 100%;
}

.accordion__empty-pic {
  position: relative;
  width: 275px;
  height: 189px;
  padding-top: 189px;
  margin: 12px;
  background-color: var(--catalog-accardion-background-empty-pic);
}

.accordion__empty-pic::after {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  border: 2px solid var(--catalog-accardion-background-empty-pic);
}

.accordion__pic-desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 300px;
  padding: 52px 0;
  margin-left: 24px;
}

.accordion__empty-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.accordion__empty-text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}

.accordion__empty-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--catalog-accardion-background-link);
}

@media (max-width: 1422px) {

  .catalog__title-list {
    height: 68px;
    margin-bottom: 13px;
  }


  .catalog__title {
    margin-right: 43px;
  }

  .open.accordion-gallery__content {
    max-height: 460px;
  }

  .open.accordion__empty {
    max-height: 208px !important;
  }

  .catalog__text {
    margin-bottom: 39px;
  }

  .catalog__accordion-list {
    width: calc(50% - 25px);
  }

  .catalog__accordion-list-pic {
    width: calc(50% - 25px);
  }

  .accordion__content-item {
    width: calc(100%/2);
    margin-right: 42px;
  }

  .accordion__pic-desc-title {
    margin-bottom: 5px;
  }

  .accordion__pic-desc-text {
    margin-top: 7px;
  }

  .accordion__empty-pic {
    width: 173px;
    height: 114px;
    padding-top: 114px;
    margin: 8px;
  }

  .accordion__empty-pic::after {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }

  .accordion__pic-desc {
    width: 207px;
    padding: 0 0;
  }

}

@media (max-width: 1018px) {

  .catalog__title-list {
    height: 62px;
    margin-bottom: 19px;
  }


  .catalog__title {
    margin-right: 39px;
  }

  .catalog__item:not(:last-child) {
    margin-right: 50px;
  }

  .catalog__text {
    margin-bottom: 20px;
  }

  .accordion-container {
    flex-direction: column;
  }

  .catalog__accordion-list,
  .catalog__accordion-list-pic {
    width: 100%;
  }

  .catalog__accordion-list {
    order: 1;
    margin-bottom: 50px;
  }

  .catalog__accordion-list-pic {
    order: 2;
  }

  .accordion__content-item {
    width: calc(100% / 3);
    margin-right: 12px;
  }

  .open.accordion-gallery__content {
    max-height: 340px;
    padding: 25px 0;
  }

  .open.accordion__empty {
    max-height: 300px !important;
  }

  .accordion__pic img {
    margin-bottom: 32px;
  }

}

@media (max-width: 767px) {

  .catalog__title {
    display: block;
    width: 100%;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    align-self: unset;
  }

  .catalog__item:not(:last-child) {
    margin-right: unset;
  }

  .open.accordion-gallery__content {
    align-content: space-between;
    max-height: 434px;
    /*max-height: 320px;*/
    /*padding: 25px 0;*/
  }

  .accordion__content-item {
    width: calc((100%/2) + 20px);
  }

  .catalog__title-list {
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    margin-bottom: 17px;
  }

  .accordion__empty-pic {
    width: 30%;
    height: 165px;
    padding-top: 165px;
    margin: 12px;
  }

  .accordion__empty-pic::after {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
  }

  .accordion__pic-desc {
    width: 207px;
    padding: 29px 0;
  }

}

@media (max-width: 564px) {

  .open.accordion-gallery__content {
    max-height: 808px;
    padding: 20px 0;
  }

  .accordion__empty-pic {
    width: 79px;
    height: 118px;
    padding-top:118px;
    margin: 6px;
  }

  .accordion__empty-pic::after {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
  }

  .accordion__pic-desc {
    width: 174px;
    padding: 0 0;
  }

  .accordion__empty-title {
    font-size: 18px;
    line-height: 32px;
  }

  .accordion__empty-text {
    font-size: 16px;
    line-height: 22px;
  }
}


@media (max-width: 480px) {

  .container__catalog {
    padding: var(--mobile-padding);
  }

  .catalog__title-list {
    height: 85px;
  }

  .catalog__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .catalog__item:not(:last-child) {
    margin-right: 28px;
  }

  .tabs__btn,
  .catalog__icon {
    width: 32px;
    height: 32px;
  }

  .tabs__btn.active::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.4, 1.4);
    border-width: 1px;
  }

  .catalog__text {
    display: none;
  }

  .catalog__accordion-title::before {
    top: 21px;
    width: 30px;
    height: 30px;
  }

  .catalog__accordion-title::after {
    right: 11px;
    top: 33px;
    width: 7px;
    height: 7px;
  }

  .open-tab .catalog__accordion-title::after {
    transform: rotate(225deg) translate(0px, -1px);
  }

  .accordion__content-item {
    width: 100%;
  }

  .catalog__accordion-control {
    padding: 20px 0 20px;
  }

  .catalog__accordion-title {
    font-size: 18px;
    line-height: 32px;
  }

    /*width: 30px;*/
    /*height: 30px;*/

  .accordion__pic img {
    margin-bottom: 20px;
  }

  .accordion__pic-desc-title {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 9px;
  }

  .accordion__pic-desc-text {
    margin-top: 4px;
    font-size: 16px;
    line-height: 2em;
  }
}
