/*Accordion-Catalog*/

.accordion__icon {
  transform: rotate(180deg);
}

.accordion-gallery__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  will-change: max-height, opacity;
  transition: all 0.3s ease-in-out;
}

.catalog__accordion-icon {
  transition: all 0.2s ease-out;
}

.open-icon.catalog__accordion-icon {
  transform: rotate(180deg);
}

.open.accordion-gallery__content {
  opacity: 1;
  padding: 25px 0;
  max-height: 340px;
  visibility: visible;
}

@media (max-width: 1422px) {

  .open.accordion__empty {
    max-height: 208px !important;
  }

}


@media (max-width: 1363px) {

  .open.accordion-gallery__content {
    align-content: space-between;
    max-height: 434px;
    padding: 25px 0;
  }


}


@media (max-width: 1018px) {

  .open.accordion-gallery__content {
    max-height: 338px;
  }

  .open.accordion__empty {
    max-height: 300px !important;
  }
}

@media (max-width: 520px) {

  .open.accordion-gallery__content {
    max-height: 808px;
    padding: 20px 0;
  }

}


