/*Contacts*/

.title__contacts {
  max-width: 1700px;
  padding: 0 50px 0 50px;
  margin: 0 auto 15px auto;
}

.contacts__content {
  display: flex;
  /*justify-content: space-between;*/
}

.contacts__form {
  width: calc(100% - 64.4791%);
  max-width: 683px;
  border: 1px solid #CACACA;
  padding: 124px 0 0 0;
}

.contacts__form-info {
  margin: 0 121px 0 auto;
  max-width: 450px;
  padding-left: 51px;
}

.contacts__btn {
  padding: 14px 33px;
  margin-bottom: 39px;
  font-weight: 700;
  background-color: transparent;
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
}

.form fieldset {
  display: flex;
  flex-direction: column;
}

.contacts__form-title {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.contacts__form-address {
  margin-bottom: 27px;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
}

.form__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.js-validate-error-field {
  order: 1;
}

.input {
  order: 2;
  height: 40px;
  width: 100%;
  padding: 4px 0 4px 23px;
  border: 1px solid #333333;
  border-radius: 100px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.input:focus,
.input:hover {
  background-color: #EAEAEA;
}

.input::placeholder {
  color: #999999;
}

.contacts__list-title {
  display: inline-block;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
}

.contacts__item:not(:last-child) {
  margin-right: 20px;
}

.contacts__list-icon {
  display: flex;
  flex-direction: row;
}

.contacts__link:hover,
.contacts__link:focus {
  outline: none;
  background-color: unset;
  opacity: 0.5;
}

.contacts__link:active .contacts__icon--whats-up,
.contacts__link:active .contacts__icon--telegram {
  stroke: var(--theme-color-active);
}

.contacts__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.contacts__icon--whats-up {
  fill: #30BF39;
}

.contacts__icon--telegram {
  fill: rgb(42, 171, 238);
}

.contacts__map {
  overflow: hidden;
  width: 64.4791%;
  height: 700px;
}

.contacts--mobile {
  display: none;
}

@media (max-width: 1464px) {

  .contacts__form {
    width: calc(100% - 55%);
    min-width: 487px;
  }

  .contacts__form-info {
    margin: 0 101px 0 auto;
  }

  .contacts__list-title {
    margin-bottom: 15px;
  }

  .contacts__icon {
    width: 60px;
    height: 60px;
  }

  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }

  .contacts__map {
    width: calc(100% - 45%);
    /*min-width: calc(100% - 45%);*/
  }

}

@media (max-width: 914px) {

  .contacts__form {
    min-width: 430px;
    width: 55%;
  }

  .contacts__form-info {
    margin: 0 44px 0 auto;
  }

  .contacts__map {
    width: 44%;
  }
}

@media (max-width: 660px) {

  .contacts__content {
    flex-direction: column;
  }

  .contacts__form {
    order: 2;
    width: 100%;
    padding-top: 0;
    border: none;
  }

  .contacts--mobile {
    display: inline-block;
  }

  .contacts__form-address,
  .contacts__form-title {
    padding: 0 50px;
  }

  .contacts__form-info {
    margin: 0;
    padding: 0 50px;
  }

  .contacts__btn {
    width: 128px;
    padding: 11px 33px;
    font-size: 12px;
    line-height: 16px;
  }

  .contacts--desktop {
    display: none;
  }

  .contacts__map {
    order: 1;
    width: 100%;
    margin-bottom: 18px;
  }

  .contacts__list-icon {
    margin-bottom: 28px;
  }

}

@media (max-width: 450px) {

  .title__contacts {
    padding: 5px 15px 0;
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 38px;
  }

  .contacts__map {
    height: 320px;
  }

  .contacts__form {
    min-width: unset;
  }

  .contacts__form-title {
    padding: 0 15px;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__form-address {
    padding: 0 15px;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 20px;
  }

  .contacts__form-info {
    padding: 0 15px;
  }

  .form__title {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 32px;
  }

  .label {
    margin-bottom: 20px;
  }

  .contacts__list-title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 32px;
  }

  .contacts__btn {
    margin-bottom: 20px;
  }

  .contacts__list-icon {
    padding-left: 1px;
  }

  .contacts__item:not(:last-child) {
    margin-right: 22px;
  }

  .contacts__icon {
    width: 48px;
    height: 48px;
  }
}
