/*Contacts*/

.contacts {
  overflow-x: hidden; /* это нужно для того, чтоб не создавалось горизонтального скролла из-за скроллбара справа на десктопной версии, который не учитывается при задании измерений в vw */
}

.container__contacts {
  position: relative;
  display: flex;
  max-width: 1700px;
  padding-top: 1px;
  padding-bottom: 0;
}

.contacts__title {
  padding-bottom: 16px;
}

.contacts__wrap {
  position: relative;
}

.contacts__contacts::before,
.contacts__wrap::after,
.contacts__wrap::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  background-color: lightgray;
}

.contacts__wrap::after {
  left: 0;
  width: 100%;
  height: 1px;
}

.contacts__wrap::before {
  left: 0;
  width: 1px;
  height: 100%;
}

.contacts__contacts {
  position: relative;
  width: calc(522 / 1600 * 100%);
  padding-top: 216px;
  padding-bottom: 122px;
  padding-right: 121px;
  background-color: #fff;
}

.contacts__contacts::before {
  right: 0;
  width: 1px;
  height: 100%;
}

.contacts__contacts-location {
  position: absolute;
  z-index: 1;
  padding-top: 123px;
}

.contacts__contacts-title {
  display: inline-block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 3px;
}

.contacts__contacts-address {
  margin-bottom: 27px;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
}

.form__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.contacts__btn {
  padding: 15px 33px;
  margin-bottom: 39px;
  font-weight: 700;
  background-color: transparent;
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
}

.form fieldset {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.js-validate-error-field {
  order: 1;
}

.input {
  order: 2;
  height: 40px;
  width: 100%;
  padding: 4px 0 4px 23px;
  border: 1px solid #333333;
  border-radius: 100px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  transition: background-color var(--transition-time) var(--transition-timing-function);
}

.input:focus,
.input:hover {
  background-color: #EAEAEA;
}

.input::placeholder {
  color: #999999;
}

.contacts__list-title {
  display: inline-block;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 32px;
}

.contacts__list-icon {
  display: flex;
  flex-direction: row;
}

.contacts__item:not(:last-child) {
  margin-right: 20px;
}

.contacts__link {
  transition: opacity var(--transition-time) var(--transition-timing-function);
}

.contacts__link:hover,
.contacts__link:focus {
  outline: none;
  background-color: unset;
  opacity: 0.5;
}

.contacts__link:active .contacts__icon--whats-up,
.contacts__link:active .contacts__icon--telegram {
  stroke: var(--theme-color-active);
}

.contacts__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.contacts__icon--whats-up {
  fill: #30BF39;
}

.contacts__icon--telegram {
  fill: rgb(42, 171, 238);
}


.contacts__map {
  min-height: 320px;
  width: calc(1078 / 1600 * 100% + ((100vw - 100%) / 2)); /* 1078 - в данном случае это ширина карты внутри контейнера, её можно менять */
  margin-right: calc((-100vw + 100%) / 2);
  margin-top: -1px;
  transition-property: width, height, padding;
  transition-duration: 100ms;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

[class*="copyrights-pane"] {
  display: none;
  margin: unset;
}


@media (max-width: 1464px) {

  .contacts__list-title {
    margin-bottom: 15px;
  }

  .contacts__icon {
    width: 60px;
    height: 60px;
  }

  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }

}


@media (max-width: 1024px) {

  .contacts__contacts {
    width: calc(437 / 924 * 100%);
    padding-top: 219px;
    padding-right: 101px;
    padding-bottom: 70px;
  }

  .contacts__map {
    width: calc(487 / 924 * 100% + ((100vw - 100%) / 2));
    height: 698px;
  }

  .label {
    margin-bottom: 22px;
  }
}

@media (max-width: 914px) {

    .contacts__contacts {
      width: calc(380 / 668 * 100%);
      padding-right: 44px;
      padding-bottom: 0;
    }

  .contacts__form {
    width: calc(380 / 668 * 100%);
  }

  .contacts__form-info {
    margin: 0 44px 0 auto;
  }

  .contacts__map {
    width: calc(288 / 668 * 100% + ((100vw - 100%) / 2));
  }
}

@media (max-width: 600px) {

  .contacts__contacts::before,
  .contacts__wrap::after,
  .contacts__wrap::before {
    content: none;
  }

  .contacts__content {
    flex-direction: column;
  }

  .container__contacts {
    flex-direction: column;
  }

  .contacts__form {
    order: 2;
    width: 100%;
    padding-top: 0;
    border: none;
  }

  .contacts__form-address,
  .contacts__form-title {
    padding: 0 50px;
  }

  .contacts__form-info {
    margin: 0;
    padding: 0 50px;
  }

  .contacts__btn {
    width: 128px;
    padding: 11px 33px;
    font-size: 12px;
    line-height: 16px;
  }

  .contacts__list-icon {
    margin-bottom: 28px;
  }

  .contacts__contacts-location {
    position: unset;
    padding: 0;
    order: 1;
  }

  .contacts__contacts {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    order: 3;
  }

  .contacts__wrap,
  .contacts__contacts {
    border: none;
  }

  .contacts__map {
    order: 2;
    width: calc(100% + 100px);
    height: 320px;
    margin-bottom: 20px;
    margin-right: -50px;
    margin-left: -50px;
  }
}

@media (max-width: 450px) {

  .form__title {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 35px;
  }

  .label {
    margin-bottom: 20px;
  }

  .contacts__list-title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 32px;
  }

  .contacts__btn {
    margin-bottom: 20px;
  }

  .contacts__list-icon {
    padding-left: 1px;
  }

  .contacts__item:not(:last-child) {
    margin-right: 22px;
  }

  .contacts__icon {
    width: 48px;
    height: 48px;
  }

  .contacts__title {
    padding-bottom: 0;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 38px;
  }

  .contacts__contacts-title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: -2px;
  }

  .contacts__contacts-address {
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__map {
    width: calc(100% + 30px);
    margin-right: -15px;
    margin-left: -15px;
  }
}
