/*Events*/

.events__container {
  width: 100%;
  overflow: hidden;
  padding-bottom: 82px;
}

.events__title {
  margin-bottom: 14px;
}

.wrapper-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.events__card {
  display: flex;
  flex-direction: column;
  /*width: 31.25%;*/
  width: calc((100% - 100px) / 3);
  min-height: 700px;
  margin-bottom: 50px;
  will-change: opacity, max-height, min-height;
  transition: all 0.3s var(--transition-timing-function);
}

.events__card:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events__card-desc {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 400px;
  padding: 13px 18px 42px 49px;
  border: 1px solid #CACACA;
  border-top: none;
  font-size: 0;
}

.events__card-time,
.events__card-address {
  display: inline-block;
  width: 211px;
  align-self: flex-end;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__card-address {
  font-style: normal;
}

.events__card-time {
  margin-bottom: 5px;
}

.events__card-title {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.events__card-title,
.events__card-text {
  padding-right: 17px;
}

.events__card-link {
  position: relative;
  align-self: flex-start;
  display: inline-block;
  /*padding-bottom: 4px;*/
  line-height: 24px;
  margin-top: auto;
  border-bottom: 1px solid var(--event-color-link);
  font-size: 16px;
  color: var(--event-color-link);
  transition: color .3s var(--transition-timing-function), border-color .3s var(--transition-timing-function);
}

.events__card-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.1, 1.5);
  transition: opacity .3s var(--transition-timing-function);
  opacity: 0;
  background-color: var(--event-color-link-focus);
}

.events__card-link:focus {
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
}

.events__card-link:focus::before {
  opacity: 1;
}

.events__card-link:active {
  color: var(--event-color-link-active);
  border-color: var(--event-color-link-active);
}

.events__card-link:hover {
  color: var(--event-color-link-hover);
  border-color: var(--event-color-link-hover);
}

.events__button {
  display: block;
  min-width: 188px;
  margin: 0 auto;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
  font-weight: 700;
  background-color: transparent;
  will-change: opacity, height;
  transition: background-color 0.3s var(--transition-timing-function), color 0.3s var(--transition-timing-function);
}

.events__button:hover {
  color: #FFFFFF;
  background-color: var(--theme-color-hover);
}

.events__button:active {
  border: 2px solid #FFFFFF;
  background-color: var(--theme-color-active);
}

.events__pagination {
  position: static;
  display: flex;
  justify-content: center;
  will-change: width;
  transition: all 0.3s var(--transition-timing-function);
}

.events__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #999999;
}

/*.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {*/
/*  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,7px);*/
/*}*/

.events__pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 11px;
}

.events__pagination .swiper-pagination-bullet-active {
  background-color: #666666;
}

.events__button--disabled {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0;
}

.events__card--disabled {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  min-height: 0 !important;
  margin: 0;
}

@media (max-width: 1464px) {

  .events__container {
    padding-bottom: 80px;
  }

  .events__card {
    width: calc((100% - 54px) / 3);
    min-height: 683px;
  }

  .events__card:not(:nth-child(3n)) {
    margin-right: 27px;
  }

  .events__card-desc {
    padding: 14px 17px 50px 34px;
    border: 1px solid #CACACA;
    border-top: none;
  }

  .events__card-title {
    padding-right: 8px;
  }

  .events__card-text {
    padding-right: 14px;
  }

}

@media (max-width: 920px) {

  .events__container {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .events__card {
    width: calc((100% - 34px) / 2);
    min-height: 683px;
  }

  .events__card:not(:nth-child(3n)) {
    margin-right: unset;
  }

  .events__card:not(:nth-child(2n)) {
    margin-right: 34px;
  }

  .events__card-title {
    margin-bottom: 0;
  }

  /* delete :focus and :hover */
  .events__card-link::before {
    content: none;
  }

  .events__card-link:hover,
  .events__card-link:focus {
    color: var(--event-color-link);
    border-bottom: 1px solid var(--event-color-link);
  }

}

@media (max-width: 600px) {

  .events__container .wrapper-cards {
    flex-wrap: nowrap;
    justify-content: initial;
    margin-bottom: 14px;
  }

  .events__card {
    width: 100%;
    min-height: 683px;
    margin: 0;
    flex-shrink: 0;
  }

  .events__card:not(:nth-child(2n)) {
    margin-right: unset;
  }

  .events__button {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    min-height: 0;
    margin: 0;
  }

}

@media (max-width: 480px) {

  .events__container {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .events__card-title, .events__card-text {
    padding-right: 0;
  }

  .events__title {
    margin-bottom: 9px;
    font-size: 28px;
    line-height: 41px;
  }

  .events__card-desc {
    min-height: 483px;
    padding: 14px 10px 49px 28px;
  }

  .events__card-title {
    margin-bottom: 35px;
  }

  .events__card-text {
    font-size: var(--text-font-size);
    line-height: 2em;
  }

}

