/*Footer*/

.footer {
  background-color: #000000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*height: 138px;*/
  height: 145px;
  padding-top: 0;
  padding-bottom: 0;
}

.footer__logo-wrapper {
  width: 173px;
  height: 40px;
}
/*.footer__logo {*/

/*}*/

.footer__list-icon {
  display: flex;
}

/*.footer__item-link {*/
/*  transition: background-color var(--transition-time) var(--transition-timing-function);*/
/*}*/

.footer-icon {
  width: 45px;
  height: 45px;
  fill: #cacaca;
  transition: fill var(--transition-time) var(--transition-timing-function);
}

.footer-icon:hover,
.footer__item-link:focus .footer-icon {
  background-color: transparent;
  fill: #ffffff;
}

.footer__item-link:active .footer-icon {
  background-color: transparent;
  fill: var(--theme-color-active);
}

.footer__item-link:focus {
  background-color: transparent;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 1464px) {

  .footer__container {
    height: 144px;
  }

  .footer__list-icon {
    transform: translateY(2px);
  }

  .footer-icon {
    width: 60px;
    height: 60px;
  }

  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 920px) {

  .footer__container {
    height: 140px;
  }

  .footer__logo-wrapper {
    width: 174px;
    height: 38px;
  }

  .footer-icon {
    transition: none;
  }

  .footer-icon:hover,
  .footer__item-link:focus .footer-icon {
    fill: #cacaca;
  }

}

@media (max-width: 660px) {

  .footer__logo-wrapper {
    order: 2;
    width: 99px;
    height: 22px;
  }
  /*.footer__logo {*/

  /*}*/

  .footer__container {
    flex-direction: column;
    height: 132px;
    padding: 20px;
  }

  .footer__list-icon {
    order: 1;
    width: 100%;
    justify-content: center;
    transform: none;
  }

  .footer-icon {
    width: 50px;
    height: 50px;
  }

}
