/*Gallery*/

.gallery {
  position: relative;
  background-image: -webkit-image-set(
    url("../../image/gallery/galleryBackround@2.webp") 2x,
    url("../../image/gallery/galleryBackround@1.webp") 1x,
    url("../../image/gallery/galleryBackround@2.jpg") 2x,
    url("../../image/gallery/galleryBackround@1.jpg") 1x
  );
  background-size: cover;
}

.gallery__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal {
  display: none;
}

.modal__overlay {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.modal__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.modal__picture {
  order: 1;
  display: block;
  width: 100%;
}

.modal__describe {
  order: 2;
  padding: 0 50px;
}

.modal__headers {
  margin-bottom: 41px;
}

.modal__header-main {
  display: block;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}

.modal__header-middle {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.modal__header-small {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
  font-weight: 400;
}

.modal__text {
  width: 400px;
  max-width: 420px;
}

.modal__btn {
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  top: 25px;
  right: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.modal__btn:focus {
  outline: none;
}

.modal__btn::before {
  content: '';
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color var(--transition-time) var(--transition-timing-function);
}

.modal__btn:focus::before {
  border-color: var(--gallery-color-btn-focus);
}

.modal__btn:focus .modal__btn-sticks::before,
.modal__btn:focus .modal__btn-sticks::after {
  background-color: var(--gallery-color-btn-focus);
}

.modal__btn-sticks {
  display: block;
  width: 100%;
}

.modal__btn-sticks::before,
.modal__btn-sticks::after {
  content: '';
  display: block;
  position: absolute;
  width: 21px;
  height: 1px;
  background-color: #000000;
}

.modal__btn-sticks::before {
  transform: rotate(45deg);
}

.modal__btn-sticks::after {
  transform: rotate(-45deg);
}

.gallery__title,
.gallery__offer,
.gallery__left-side {
  width: calc(400 / 1600 * 100%);
  min-width: 280px;
}

.gallery__title {
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.select__label {
  display: block;
  color: #FFFFFF;
}

.select__descr {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

/* Правая сторона */

.gallery__right-side {
  width: calc(1150 / 1600 * 100%);
  padding-top: 25px;
  margin-right: 0;
}

.gallery__slider-container {
  overflow: hidden;
}

/* Слайд */

.gallery__slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.gallery__slide::before {
  content: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid var(--gallery-color-slide-focus);
}

.gallery__slide::after {
  content: none;
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  background: no-repeat center center url("../../svg/galleryPhotoHover.svg") rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.gallery__slide:focus {
  outline: none;
}

.gallery__slide:focus::before {
  content: "";
}

.gallery__slide:hover::after {
  content: "";
}

.gallery__slide:active::before {
  content: "";
  background: var(--gallery-gradient-slide-active);
}

.gallery__offer {
  position: relative;
}

.gallery__offer-text {
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  padding-right: 40px;
  font-weight: 600;
  color: #FFFFFF;
}

.dialog-box {
  display: flex;
  width: 80%;
  height: 80vh;
}

.dialog-box__left,
.dialog-box__right {
  width: 50%;
}

.dialog-box__left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.dialog-box__right {
  background-color: white;
}

@media (max-width: 1186px) {

  .gallery {
    background-image: -webkit-image-set(
      url("../../image/gallery/galleryBackround(1024)@2.webp") 2x,
      url("../../image/gallery/galleryBackround(1024)@1.webp") 1x,
      url("../../image/gallery/galleryBackround(1024)@2.jpg") 2x,
      url("../../image/gallery/galleryBackround(1024)@1.jpg") 1x
    );
  }

  .gallery__offer {
    width: 30%;
  }

  .gallery__right-side {
    position: relative;
    width: calc(100% - (280px + 50px));
  }

  .gallery__slider-buttons {
    margin-left: 1px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .gallery__offer-text {
    padding-right: 0;
  }

}

@media (max-width: 900px) {

  .gallery__container {
    flex-direction: column;
    padding-bottom: 70px;
  }

  .gallery__offer {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }

  .gallery__offer-text {
    position: initial;
  }

  .gallery__right-side {
    width: 100%;
  }

  .gallery {
    background-image: -webkit-image-set(
      url("../../image/gallery/galleryBackround(768)@2.webp") 2x,
      url("../../image/gallery/galleryBackround(768)@1.webp") 1x,
      url("../../image/gallery/galleryBackround(768)@2.jpg") 2x,
      url("../../image/gallery/galleryBackround(768)@1.jpg") 1x
    );
  }

  .gallery__title {
    /*margin-bottom: 16px;*/
  }

  .select {
    margin-bottom: 25px;
  }
}

@media (max-width: 600px) {

  .gallery {
    background-image: -webkit-image-set(
      url("../../image/gallery/galleryBackround(320)@2.webp") 2x,
      url("../../image/gallery/galleryBackround(320)@1.webp") 1x,
      url("../../image/gallery/galleryBackround(320)@2.jpg") 2x,
      url("../../image/gallery/galleryBackround(320)@1.jpg") 1x
    );
  }

  .gallery__left-side {
    min-width: 100%;
  }

  .gallery__right-side {
    padding-top: 22px;
  }

  .gallery__slider-wrapper {
    margin-bottom: 20px;
  }

  .gallery__slider-buttons {
    margin-bottom: 13px;
  }


}

@media (max-width: 480px) {

  .gallery__container {
    padding-bottom: 40px;
  }

  .select {
    margin-bottom: 18px;
  }

  .gallery__slider-container {
    display: flex;
    flex-direction: column;
  }

  .gallery__slider-buttons {
    order: 2;
    align-self: center;

  }

  .gallery__slider-wrapper {
    order: 1;
  }

  .gallery__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .select__descr {
    margin-bottom: 5px;
  }

  .gallery__offer {
    order: 3;
    margin-top: 7px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }

  .gallery__offer-text {
    font-size: 16px;
  }
}
