/*Gallery swiper*/

.swiper-slide {
  width: 100%;
}

.swiper-slide::before {
  content: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid var(--theme-color-focus);
}

.swiper-slide::after {
  content: none;
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  background: no-repeat center center url("../../svg/galleryPhotoHover.svg") rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.swiper-container {
  display: flex;
  flex-direction: column;
}

.slider-buttons {
  display: flex;
  width: 130px;
  height: 30px;
  margin-bottom: 30px;
  margin-left: 2px;
  margin-top: 2px;
  justify-content: space-between;
  align-items: flex-end;
  order: 1;
}

.swiper-wrapper {
  order: 2;
}

.swiper-slide:focus {
  outline: none;
}

.swiper-slide:focus::before {
  content: "";
}

.swiper-slide:hover::after {
  content: "";
}

.swiper-slide:active::before {
  content: "";
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

@media (max-width: 1186px) {

  .slider-buttons {
    margin-left: 1px;
    margin-top: 3px;
    margin-bottom: 30px;
  }

}

@media (max-width: 800px) {

  .swiper-slide:focus::before {
    content: none;
  }

  .swiper-slide:hover::after {
    content: none;
  }

  .swiper-slide:active::before {
    content: none;
    background: none;
  }

}

@media (max-width: 600px) {

  .swiper-container {
    max-width: 290px;
    align-items: center;
  }

  .swiper-wrapper {
    order: 1;
    margin-bottom: 20px;

  }

  .slider-buttons {
    order: 2;
    margin-bottom: 13px;

  }

}

@media (max-width: 450px) {


  .slider-buttons {
    /*order: 10;*/
    /*margin-bottom: 0;*/
    /*margin-top: 2px;*/
  }

  .swiper-slide {
    /*height: 600px;*/
    /*height: 370px;*/
  }

  /*.swiper-slide img {*/
  /*  height: unset;*/
  /*}*/
  .swiper-container {
    /*height: 385px;*/
  }

}
