/*Hero*/

.hero {
  position: relative;
  z-index: 1;
}

.container__hero {
  padding: 70px 50px 122px;
}

.hero__hero {
  width: 600px;
  color: var(--hero-color-text);
}

.hero__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  margin-bottom: 18px;
}

.hero__text {
  margin-bottom: 91px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  width: 314px;
  min-height: 70px;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.hero__slider-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hero__slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.hero__slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}


.hero__background-one {
  background-image: url('../../image/hero/heroBackground1@1(1920).jpg');
}

.hero__background-two {
  background-image: url('../../image/hero/heroBackground2@1(1920).jpg');
}

.hero__background-three {
  background-image: url('../../image/hero/heroBackground3@1(1920).jpg');
}

@media (max-width: 1464px) {




}

@media (max-width: 1024px) {

  .container__hero {
    padding-bottom: 113px;
  }


  .hero__hero {
    width: 700px;
    padding-top: 43px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__text {
    margin-bottom: 133px;
  }

  .hero__background-one {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground1@2(1024).webp") 2x,
      url("../../image/hero/heroBackground1@1(1024).webp") 1x,
      url("../../image/hero/heroBackground1@2(1024).jpg") 2x,
      url("../../image/hero/heroBackground1@1(1024).jpg") 1x
    );
  }

  .hero__background-two {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground2@2(1024).webp") 2x,
      url("../../image/hero/heroBackground2@1(1024).webp") 1x,
      url("../../image/hero/heroBackground2@2(1024).jpg") 2x,
      url("../../image/hero/heroBackground2@1(1024).jpg") 1x
    );
  }

  .hero__background-three {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground3@2(1024).webp") 2x,
      url("../../image/hero/heroBackground3@1(1024).webp") 1x,
      url("../../image/hero/heroBackground3@2(1024).jpg") 2x,
      url("../../image/hero/heroBackground3@1(1024).jpg") 1x
    );
  }

}

@media (max-width: 768px) {

  .container__hero {
    padding-top: 113px;
    padding-bottom: 114px;
  }

  .hero__hero {
    padding-top: 0;
    width: 100%;
  }

  .hero__title {
    font-size: 72px;
    line-height: 84px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }

  .hero__background-one {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground1@2(768).webp") 2x,
      url("../../image/hero/heroBackground1@1(768).webp") 1x,
      url("../../image/hero/heroBackground1@2(768).jpg") 2x,
      url("../../image/hero/heroBackground1@1(768).jpg") 1x
    );
  }

  .hero__background-two {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground2@2(768).webp") 2x,
      url("../../image/hero/heroBackground2@1(768).webp") 1x,
      url("../../image/hero/heroBackground2@2(768).jpg") 2x,
      url("../../image/hero/heroBackground2@1(768).jpg") 1x
    );
  }

  .hero__background-three {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground3@2(768).webp") 2x,
      url("../../image/hero/heroBackground3@1(768).webp") 1x,
      url("../../image/hero/heroBackground3@2(768).jpg") 2x,
      url("../../image/hero/heroBackground3@1(768).jpg") 1x
    );
  }
}

@media (max-width: 650px) {

  .hero__hero {
    text-align: center;
  }

  .hero__title {
    font-size: 45px;
    line-height: 50px;
  }

  .hero__text {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
  }
}

@media (max-width: 480px) {

  .container__hero {
    padding: 34px 28px 45px 30px;
  }

  .hero__hero {
    /*padding: 0;*/
  }

  .hero__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 11px;
  }

  .hero__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 42px;
  }

  .hero__btn {
    max-width: 200px;
    min-height: 40px;
    padding: 0 0 0 2px;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  .hero__item,
  .hero__input {
    width: 100%;
  }

  .hero__background-one {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground1@2(320).webp") 2x,
      url("../../image/hero/heroBackground1@1(320).webp") 1x,
      url("../../image/hero/heroBackground1@2(320).jpg") 2x,
      url("../../image/hero/heroBackground1@1(320).jpg") 1x
    );
  }

  .hero__background-two {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground2@2(320).webp") 2x,
      url("../../image/hero/heroBackground2@1(320).webp") 1x,
      url("../../image/hero/heroBackground2@2(320).jpg") 2x,
      url("../../image/hero/heroBackground2@1(320).jpg") 1x
    );
  }

  .hero__background-three {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground3@2(320).webp") 2x,
      url("../../image/hero/heroBackground3@1(320).webp") 1x,
      url("../../image/hero/heroBackground3@2(320).jpg") 2x,
      url("../../image/hero/heroBackground3@1(320).jpg") 1x
    );
  }

}
