/*Hero Swiper*/

.swiper-container-hero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.swiper-wrapper-hero {
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper-slide-hero {
  flex-shrink: 0;
  display: block;
  background-size: cover;
  background-position: bottom;
}

.swiper-slide-hero:nth-child(1) {
  background-image: -webkit-image-set(
    url("../../image/hero/heroBackground1@2(1920).webp") 2x,
    url("../../image/hero/heroBackground1@1(1920).webp") 1x,
    url("../../image/hero/heroBackground1@2(1920).jpg") 2x,
    url("../../image/hero/heroBackground1@1(1920).jpg") 1x
  );
  background-color: #666666;
}

.swiper-slide-hero:nth-child(2) {
  background-image: -webkit-image-set(
    url("../../image/hero/heroBackground2@2(1920).webp") 2x,
    url("../../image/hero/heroBackground2@1(1920).webp") 1x,
    url("../../image/hero/heroBackground2@2(1920).jpg") 2x,
    url("../../image/hero/heroBackground2@1(1920).jpg") 1x
  );
  background-color: #666666;
}

.swiper-slide-hero:nth-child(3) {
  background-image: -webkit-image-set(
    url("../../image/hero/heroBackground3@2(1920).webp") 2x,
    url("../../image/hero/heroBackground3@1(1920).webp") 1x,
    url("../../image/hero/heroBackground3@2(1920).jpg") 2x,
    url("../../image/hero/heroBackground3@1(1920).jpg") 1x
  );
  background-color: #666666;
}


@media (max-width: 1024px) {

  .swiper-slide-hero:nth-child(1) {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground1@2(1024).webp") 2x,
      url("../../image/hero/heroBackground1@1(1024).webp") 1x,
      url("../../image/hero/heroBackground1@2(1024).jpg") 2x,
      url("../../image/hero/heroBackground1@1(1024).jpg") 1x
    );
  }

  .swiper-slide-hero:nth-child(2) {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground2@2(1024).webp") 2x,
      url("../../image/hero/heroBackground2@1(1024).webp") 1x,
      url("../../image/hero/heroBackground2@2(1024).jpg") 2x,
      url("../../image/hero/heroBackground2@1(1024).jpg") 1x
    );
  }

  .swiper-slide-hero:nth-child(3) {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground3@2(1024).webp") 2x,
      url("../../image/hero/heroBackground3@1(1024).webp") 1x,
      url("../../image/hero/heroBackground3@2(1024).jpg") 2x,
      url("../../image/hero/heroBackground3@1(1024).jpg") 1x
    );
  }

}

@media (max-width: 768px) {

  .swiper-slide-hero:nth-child(1) {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground1@2(768).webp") 2x,
      url("../../image/hero/heroBackground1@1(768).webp") 1x,
      url("../../image/hero/heroBackground1@2(768).jpg") 2x,
      url("../../image/hero/heroBackground1@1(768).jpg") 1x
    );
  }

  .swiper-slide-hero:nth-child(2) {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground2@2(768).webp") 2x,
      url("../../image/hero/heroBackground2@1(768).webp") 1x,
      url("../../image/hero/heroBackground2@2(768).jpg") 2x,
      url("../../image/hero/heroBackground2@1(768).jpg") 1x
    );
  }

  .swiper-slide-hero:nth-child(3) {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground3@2(768).webp") 2x,
      url("../../image/hero/heroBackground3@1(768).webp") 1x,
      url("../../image/hero/heroBackground3@2(768).jpg") 2x,
      url("../../image/hero/heroBackground3@1(768).jpg") 1x
    );
  }

}

@media (max-width: 450px) {

  .swiper-slide-hero:nth-child(1) {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground1@2(320).webp") 2x,
      url("../../image/hero/heroBackground1@1(320).webp") 1x,
      url("../../image/hero/heroBackground1@2(320).jpg") 2x,
      url("../../image/hero/heroBackground1@1(320).jpg") 1x
    );
  }

  .swiper-slide-hero:nth-child(2) {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground2@2(320).webp") 2x,
      url("../../image/hero/heroBackground2@1(320).webp") 1x,
      url("../../image/hero/heroBackground2@2(320).jpg") 2x,
      url("../../image/hero/heroBackground2@1(320).jpg") 1x
    );
  }

  .swiper-slide-hero:nth-child(3) {
    background-image: -webkit-image-set(
      url("../../image/hero/heroBackground3@2(320).webp") 2x,
      url("../../image/hero/heroBackground3@1(320).webp") 1x,
      url("../../image/hero/heroBackground3@2(320).jpg") 2x,
      url("../../image/hero/heroBackground3@1(320).jpg") 1x
    );
  }
}
