/*Hero*/

.hero {
  position: relative;
}

.hero__hero {
  width: 600px;
  color: #FFFFFF;
}

.container__hero {
  position: relative;
  z-index: 10;
  padding-top: 141px;
  padding-bottom: 123px;
}

.hero__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  margin-bottom: 18px;
}

.hero__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 91px;
}

.container-hero-nav {
  position: absolute;
  bottom: -70px;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.hero__form {
  padding-left: 33px;
  background-image: url("../../svg/search.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.hero__input {
  width: 218px;
  padding: 4px 0;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  transition: border-bottom 0.3s ease-in-out;
}

.hero__input:focus,
.hero__input:hover {
  outline: none;
  border-bottom: 1px solid var(--theme-color-hover);
}

.hero__input:active {
  border-bottom: 1px solid var(--theme-color-active);
}

.hero__input:focus::placeholder {
  color: transparent;
}

.hero__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  transform: translateX(-1px);
}

/*________________________________________________________________________________________________________________________*/

.hero__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.hero__item {
  position: relative;
  color: gray;
  height: 70px;
}

.hero__item:not(:last-child) {
  margin-right: 96px;
}

.hero__item-btn {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  padding-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.hero__item-btn:hover,
.hero__item-btn:focus {
  color: #9d5cd0;
}

.hero__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.hero__item-btn.is-active {
  color: #7943A4;
}

.hero__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.hero__item-btn:active {
  color: #7943a4;
}

.hero__item-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.hero__dropdown {
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero__dropdown-wrap {
  width: 240px;
  height: 220px;
}

.hero__dropdown.is-active {
  position: absolute;
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.hero__dropdown > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.hero__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.hero__drop-list {
  list-style: none;
  padding-left: 0;
}

.hero__dropdown-item {
  width: 220px;
  background-position: top;
  background-size: contain;
}

.hero__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.hero__item-link {
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  transition: border-color .3s ease;
}

.hero__item-link:focus,
.hero__item-link:hover {
  outline: none;
  border-color: #9D5CD0;
  background-color: transparent;
}

.hero__item-link:active {
  background-image: linear-gradient(rgba(194, 131, 243, .3), rgba(194, 131, 243, .3));
}

.hero__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.hero__dropdown .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/*________________________________________________________________________________________________________________________*/

@media (max-width: 1464px) {

  .container__hero {
    padding-top: 112px;
  }

  .hero__form {
    order: 2;
    padding: 30px 6px 30px 33px;
    background-position: left center;
  }

  .hero__input {
    width: 90%;
  }

  .hero__nav {
    order: 4;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .hero__list {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    transform: translate(0);
  }

  .hero__item {
    margin-right: 0 !important;
    height: fit-content;
    margin-bottom: 10px;
  }

  .hero__item-btn {
    padding: 2px 6px;
  }

  .hero__item-heading {
    font-size: 20px;
  }

  .hero__dropdown.is-active {
    left: -25px;
  }

  /*.hero__item:not(:last-child) {*/
  /*  margin-bottom: 20px;*/
  /*}*/

}

@media (max-width: 1024px) {

  .container__hero {
    padding-bottom: 115px;
  }

  .hero__hero {
    width: 700px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__text {
    margin-bottom: 133px;
  }
}

@media (max-width: 768px) {

  .container__hero {
    padding-top: 113px;
    padding-bottom: 114px;
  }

  .hero__hero {
    width: 100%;
  }

  .hero__title {
    font-size: 72px;
    line-height: 84px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }
}

@media (max-width: 650px) {

  .hero__hero {
    text-align: center;
  }

  .hero__title {
    font-size: 45px;
    line-height: 50px;
  }

  .hero__text {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
  }
}

@media (max-width: 480px) {

  .container__hero {
    padding: 34px 28px 45px 30px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 11px;
  }

  .hero__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 42px;
  }

  .hero__input::placeholder {
    font-size: 14px;
    line-height: 20px;

  }

  .hero__input {
    width: 150px;
  }

}


/*Item One*/

.hero__item-background-item1 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList1@2.webp") 2x,
    url("../../image/hero/heroItemList1@1.webp") 1x,
    url("../../image/hero/heroItemList1@2.jpg") 2x,
    url("../../image/hero/heroItemList1@1.jpg") 1x
  );
}

.hero__item-background-item2 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList2@2.webp") 2x,
    url("../../image/hero/heroItemList2@1.webp") 1x,
    url("../../image/hero/heroItemList2@2.jpg") 2x,
    url("../../image/hero/heroItemList2@1.jpg") 1x
  );
}

.hero__item-background-item3 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList3@2.webp") 2x,
    url("../../image/hero/heroItemList3@1.webp") 1x,
    url("../../image/hero/heroItemList3@2.jpg") 2x,
    url("../../image/hero/heroItemList3@1.jpg") 1x
  );
}

.hero__item-background-item4 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList4@2.webp") 2x,
    url("../../image/hero/heroItemList4@1.webp") 1x,
    url("../../image/hero/heroItemList4@2.jpg") 2x,
    url("../../image/hero/heroItemList4@1.jpg") 1x
  );
}

/*Item Two*/

.hero__item-background-item5 {
  background-size: unset;
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(2)1@2.webp") 2x,
    url("../../image/hero/heroItemList(2)1@1.webp") 1x,
    url("../../image/hero/heroItemList(2)1@2.jpg") 2x,
    url("../../image/hero/heroItemList(2)1@1.jpg") 1x
  );
}

.hero__item-background-item6 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(2)2@2.webp") 2x,
    url("../../image/hero/heroItemList(2)2@1.webp") 1x,
    url("../../image/hero/heroItemList(2)2@2.jpg") 2x,
    url("../../image/hero/heroItemList(2)2@1.jpg") 1x
  );
}

.hero__item-background-item7 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(2)3@2.webp") 2x,
    url("../../image/hero/heroItemList(2)3@1.webp") 1x,
    url("../../image/hero/heroItemList(2)3@2.jpg") 2x,
    url("../../image/hero/heroItemList(2)3@1.jpg") 1x
  );
}

.hero__item-background-item8 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(2)4@2.webp") 2x,
    url("../../image/hero/heroItemList(2)4@1.webp") 1x,
    url("../../image/hero/heroItemList(2)4@2.jpg") 2x,
    url("../../image/hero/heroItemList(2)4@1.jpg") 1x
  );
}

/*Item Three*/

.hero__item-background-item9 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(3)1@2.webp") 2x,
    url("../../image/hero/heroItemList(3)1@1.webp") 1x,
    url("../../image/hero/heroItemList(3)1@2.jpg") 2x,
    url("../../image/hero/heroItemList(3)1@2.jpg") 1x
  );
}

.hero__item-background-item10 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(3)2@2.webp") 2x,
    url("../../image/hero/heroItemList(3)2@1.webp") 1x,
    url("../../image/hero/heroItemList(3)2@2.jpg") 2x,
    url("../../image/hero/heroItemList(3)2@1.jpg") 1x
  );
}

.hero__item-background-item11 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(3)3@2.webp") 2x,
    url("../../image/hero/heroItemList(3)3@1.webp") 1x,
    url("../../image/hero/heroItemList(3)3@2.jpg") 2x,
    url("../../image/hero/heroItemList(3)3@1.jpg") 1x
  );
}

.hero__item-background-item12 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(3)4@2.webp") 2x,
    url("../../image/hero/heroItemList(3)4@1.webp") 1x,
    url("../../image/hero/heroItemList(3)4@2.jpg") 2x,
    url("../../image/hero/heroItemList(3)4@1.jpg") 1x
  );
}

/*Item Four*/

.hero__item-background-item13 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(4)1@2.webp") 2x,
    url("../../image/hero/heroItemList(4)1@1.webp") 1x,
    url("../../image/hero/heroItemList(4)1@2.jpg") 2x,
    url("../../image/hero/heroItemList(4)1@2.jpg") 1x
  );
}

.hero__item-background-item14 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(4)2@2.webp") 2x,
    url("../../image/hero/heroItemList(4)2@1.webp") 1x,
    url("../../image/hero/heroItemList(4)2@2.jpg") 2x,
    url("../../image/hero/heroItemList(4)2@1.jpg") 1x
  );
}

.hero__item-background-item15 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(4)3@2.webp") 2x,
    url("../../image/hero/heroItemList(4)3@1.webp") 1x,
    url("../../image/hero/heroItemList(4)3@2.jpg") 2x,
    url("../../image/hero/heroItemList(4)3@1.jpg") 1x
  );
}

.hero__item-background-item16 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(4)4@2.webp") 2x,
    url("../../image/hero/heroItemList(4)4@1.webp") 1x,
    url("../../image/hero/heroItemList(4)4@2.jpg") 2x,
    url("../../image/hero/heroItemList(4)4@1.jpg") 1x
  );
}

/*Item Five*/


.hero__item-background-item17 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(5)1@2.webp") 2x,
    url("../../image/hero/heroItemList(5)1@1.webp") 1x,
    url("../../image/hero/heroItemList(5)1@2.jpg") 2x,
    url("../../image/hero/heroItemList(5)1@2.jpg") 1x
  );
}

.hero__item-background-item18 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(5)2@2.webp") 2x,
    url("../../image/hero/heroItemList(5)2@1.webp") 1x,
    url("../../image/hero/heroItemList(5)2@2.jpg") 2x,
    url("../../image/hero/heroItemList(5)2@1.jpg") 1x
  );
}

.hero__item-background-item19 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(5)3@2.webp") 2x,
    url("../../image/hero/heroItemList(5)3@1.webp") 1x,
    url("../../image/hero/heroItemList(5)3@2.jpg") 2x,
    url("../../image/hero/heroItemList(5)3@1.jpg") 1x
  );
}

.hero__item-background-item20 {
  background-image: -webkit-image-set(
    url("../../image/hero/heroItemList(5)4@2.webp") 2x,
    url("../../image/hero/heroItemList(5)4@1.webp") 1x,
    url("../../image/hero/heroItemList(5)4@2.jpg") 2x,
    url("../../image/hero/heroItemList(5)4@1.jpg") 1x
  );
}
