/*Logo*/

.logo {
  position: relative;
  z-index: 200;
  color: #FFFFFF;
  background-color: #000000;
  /*overflow: hidden;*/
}

.container__logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-top: 0;
  padding-bottom: 0;
}


/*[aria-hidden="true"] { display: none; }*/
/*[aria-hidden="false"] { display: block; }*/

.logo__logo {
  width: 173px;
  height: 40px;
}

.logo__log-in,
.logo__nav {
  display: inline-block;
}

.logo__nav {
  transform: translate(-19px, -1px);
}

.logo__list {
  display: flex;
}

.logo__item a {
  display: inline-block;
  padding: 2px 6px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: #FFFFFF;
}

.logo__log-in,
.logo__item a {
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out
}

.logo__item:focus {
  background-color: white;
}

.logo__item {
  margin-right: 50px;
}

.logo__log-in {
  padding: 2px 6px 2px 26px;
  transform: translate(7px, -1px);
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background-image: url("../../svg/log-in.svg");
  background-position: center left 6px;
  background-repeat: no-repeat;
}

.logo__log-in:hover,
.logo__item a:hover {
  color: #C283F3;
  background-color: transparent;
}

.logo__log-in:active,
.logo__item a:active {
  color: #9D5CD0;
}

.logo__log-in:hover {
  background-position: center left 1px;
  background-image: url("../../svg/log-in-hover.svg");
}

.logo__log-in:active {
  background-position: center left 1px;
  background-image: url("../../svg/log-in-active.svg");
}

.logo__log-in:focus {
  background-color: var(--theme-color-focus);
  outline: none;
}

.burger {
  display: none;
}

.search {
  display: none;
  height: 30px;
  padding-left: 2px;
}

.search:focus,
.burger:focus {
  outline: none;
}

.search:focus .search-icon {
  fill: #9D5CD0;
}

.burger:focus .burger__sticks,
.burger:focus .burger__sticks::before,
.burger:focus .burger__sticks::after {
  background-color: #9D5CD0;
}

.search-icon {
  width: 35px;
  height: 30px;
  fill: #FFFFFF;
  transition: fill 0.3s ease-in-out;
}

.search.search--open .search-icon,
.search:hover .search-icon {
  fill: #9D5CD0;
}

/*Menu/search for mobile*/

.mobile_search,
.mobile_burger {
  position: absolute;
  left: 0;
  display: block;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateY(-1000%);
  visibility: hidden;
  opacity: 0;
  transition: transform, opacity 0.3s ease-in-out;
  will-change: opacity, transform;
}

.mobile_search {
  right: 0;
  left: unset;
  padding: 20px 50px;
}

.mobile--open {
  transform: none;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.mobile__nav {
  display: flex;
}

/*.mobile__nav.logo__nav {*/
/*  display: flex;*/
/*  height: fit-content;*/
/*  width: fit-content;*/
/*  padding: 0 50px 0 50px;*/
/*  transform: none;*/
/*}*/

.mobile__list {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.mobile__list .mobile__item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile__log-in {
  display: inline-block;
}

@media (max-width: 1464px) {

  .burger {
    display: inline-block;
  }

  .logo__log-in {
    order: 1;
    align-self: flex-end;
    width: 100%;
    padding: 10px 6px 10px;
    transform: none;
    font-size: 22px;
    background-image: none;
    border-bottom: 1px solid #e5e5e5;
  }

  .logo__log-in:hover,
  .logo__log-in:active {
    background: none;
  }

  .logo__log-in:hover {
    /*background-size: 22px;*/
    /*background-position: center right 10px;*/
  }

  /*.overlay */
  .logo__nav {
    position: absolute;
    top: 100px;
    left: 19px;
    width: 100%;
    height: 110vh;
    background: rgba(45,45,45,0.469625350140056) 27%;
    transition: transform 0.3s ease-in-out;
  }

  .logo__aside {
    display: flex;
    flex-direction: column;
    width: 370px;
    min-height: 700px;
    height: 120vh;
    padding: 10px 50px 10px 50px;
    background-color: black;
  }

  .logo__list {
    order: 3;
    display: flex;
    flex-direction: column;
  }

  .logo__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .logo__item {
    margin-right: 0;
  }

  .logo__item a {
    width: 100%;
    font-size: 22px;
  }

  .search {
    display: inline-block;
    order: 3;
  }

  .logo__list::before,
  .logo__list::after {
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto 10px;
  }

  .logo__list::after {
    margin: 10px auto 10px;
  }

  .logo__list::after {
    border-bottom: 1px solid #e5e5e5;
  }

  .logo__list::before {
    border-top: 1px solid #e5e5e5;
  }

  .burger {
    display: block;
    position: relative;
    overflow: hidden;
    width: 36px;
    height: 28px;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: background 0s ease-in-out;
    background-color: transparent;
  }

  .burger__sticks {
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #FFFFFF;
    transition: background 0.3s 0s ease-in-out;
  }

  .burger__sticks::before,
  .burger__sticks::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }

  .burger__sticks::before {
    top: -12px;
    transition-property: top, transform;
  }

  .burger__sticks::after {
    bottom: -12px;
    transition-property: bottom, transform;
  }

  .burger__sticks--active .burger__sticks {
    background-color: transparent !important;
  }

  .burger__sticks--active .burger__sticks::before {
    top: 0;
    transform: rotate(45deg);
  }

  .burger__sticks--active .burger__sticks::after {
    bottom: 0;
    transform: rotate(-45deg);
  }

  .burger__sticks--active .burger__sticks::before,
  .burger__sticks--active .burger__sticks::after {
    transition-delay: 0s, 0.3s;
  }

  .burger:hover .burger__sticks,
  .burger:hover .burger__sticks::after,
  .burger:hover .burger__sticks::before{
    background-color: var(--theme-color-hover);
  }


  .logo__logo {
    order: 2;
    width: 188px;
    height: 42px;
  }

}

@media (max-width: 768px) {

  .search-icon {
    padding-top: 2px;
    padding-left: 2px;
    height: 28px;
  }
}

@media (max-width: 480px) {

  .container__logo {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container__logo {
    height: 45px;
  }

  .logo__logo {
    width: 97px;
    height: 22px;
  }

  .search,
  .burger {
    width: 25px;
    height: 20px;
  }

  .search-icon {
    width: 24px;
    height: 23px;
    padding: 0 0 5px 1px;
  }

  .burger-icon {
    display: none;
  }

  .burger {
    background-image: url("../../svg/Burger(320).svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .mobile__nav.logo__nav {
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .mobile__log-in,
  .mobile__item a {
    font-size: 14px;
  }

  .hero__list.mobile__list {
    justify-content: flex-start;
  }

  .mobile_search {
    padding: 10px 20px;
  }



}
