/*Page*/

.page__body {
  font-family: 'open_sans', sans-serif;
}

.container {
  max-width: 1700px;
  padding: 80px 50px;
  margin: 0 auto;
}

.container--narrow {
  padding-top: 0;
  padding-bottom: 0;
}

/*Button*/

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  background-color: var(--theme-color);
  border: 3px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.1s ease-in-out, border-color 0.1s ease-in-out,
  box-shadow 0.3s ease-in-out;
}

.btn--size_x {
  width: 314px;
  height: 70px;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.btn::before {
  content: none;
  display: inline-block;
  position: absolute;
  top: -8px;
  right: -9px;
  bottom: -8px;
  left: -8px;
  border: 2px solid var(--theme-color-btn-outer-rim);
  border-radius: 100px;
}

.btn:focus {
  outline: none;
}

.btn:focus::before {
  content: "";
}

.btn:hover {
  border-color: var(--theme-color-btn-outer-rim);
}

.btn:active {
  border-color: var(--theme-color-btn-focus);
  background: var(--theme-color-focus);
}

/*Buttons Slider*/

.swiper-notification,
.gallery__slider-button-prev::after,
.gallery__slider-button-next::after {
  display: none;
}

.publications__slider-pagination,
.swiper-pagination {
  padding: 4px 0;
  position: static;
  color: #FFFFFF;
  text-align: center;
}

.projects__button-prev,
.projects__button-next,
.publications__slider-button-prev,
.publications__slider-button-next,
.gallery__slider-button-prev,
.gallery__slider-button-next {
  position: static;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.projects__button-prev,
.projects__button-next,
.publications__slider-button-prev,
.publications__slider-button-next,
.button-prev-icon,
.button-next-icon {
  width: 30px;
  height: 30px;
  fill: #666666;
  stroke: none;
}

.projects__button-prev:focus,
.projects__button-next:focus,
.publications__slider-button-prev:focus,
.publications__slider-button-next:focus,
.gallery__slider-button-next:focus,
.gallery__slider-button-prev:focus {
  outline: none;
}

.projects__button-prev:focus .button-prev-icon,
.projects__button-next:focus .button-next-icon,
.publications__slider-button-prev:focus .button-prev-icon,
.publications__slider-button-next:focus .button-next-icon,
.gallery__slider-button-next:focus .button-next-icon,
.gallery__slider-button-prev:focus .button-prev-icon {
  stroke: black;
}

.button-prev-icon:hover,
.button-next-icon:hover {
  fill: var(--theme-color-hover);
}

.button-prev-icon:active,
.button-next-icon:active {
  fill: var(--theme-color-active);
  stroke: black;
}

.button-prev-icon {
  transform: rotate(180deg);
}

.swiper-button-disabled {
  cursor: no-drop;
  opacity: 50%;
}


/*Hidden*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*Title*/

h1,
h2,
h3 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color);
}

/*Text*/

p {
  margin: 0;
}

.text {
  font-size: var(--text-font-size);
  line-height: 2em;
  color: var(--text-color);
}

.text--size_xs {
  font-size: 12px;
  line-height: 16px;
}

.text--size_s {
  font-size: 16px;
  line-height: 22px;
}

.text--color_grey {
  color: #999999;
}

.text--color_theme {
  color: var(--theme-color);
}

/*Link*/

a {
  text-decoration: none;
}

a:focus {
  outline: none;
  background-color: var(--theme-color-hover);
  color: #FFFFFF;
}

/*Images*/

img {
  display: block;
  width: 100%;
}

/*List*/

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/*Form*/

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media (max-width: 1464px) {

  .container--narrow {
    display: none;
  }
}

@media (max-width: 768px) {

  /*.btn {*/
  /*  padding: 0;*/
  /*}*/

}

@media (max-width: 650px) {

  .btn {
    width: 200px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 450px) {

  .btn--size_x {
    padding: 0 0 0 2px;
  }

  .text {
    font-size: 14px;
  }

  .text--size_xs {
    font-size: 12px;
    line-height: 22px;
  }

  .text--size_s {
    font-size: 16px;
    line-height: 22px;
  }
}
