/*Page*/

.page__body {
  font-family: 'open_sans', sans-serif;
}

.container {
  max-width: 1700px;
  padding: var(--desktop-padding);
  margin: 0 auto;
}

.container--slim {
  padding-top: 0;
  padding-bottom: 0;
}

.body--noscroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(40, 40, 40, .75);
}

/*Button*/

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  background-color: var(--theme-color);
  border: 3px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.1s var(--transition-timing-function), border-color 0.1s var(--transition-timing-function),
  box-shadow var(--transition-time) var(--transition-timing-function);
}

.btn--size_x {
  width: 314px;
  height: 70px;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.btn::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -9px;
  bottom: -8px;
  left: -8px;
  display: inline-block;
  opacity: 0;
  border: 2px solid var(--theme-color-btn-outer-rim);
  border-radius: 100px;
  transition: opacity var(--transition-time) var(--transition-timing-function);
}

.btn:focus {
  outline: none;
}

.btn:focus::before {
  opacity: 1;
}

.btn:hover {
  border-color: var(--theme-color-btn-outer-rim);
}

.btn:active {
  border-color: var(--theme-color-btn-focus);
  background: var(--theme-color-focus);
}

.btn__background-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--theme-color-focus);
  transition: transform 300ms var(--transition-timing-function);
  transform: scaleX(0);
  transform-origin: left;
}

.btn__background-slide:hover::after {
  background-color: var(--theme-color-hover);
}

.btn__background-slide:hover::after,
.btn__background-slide:focus::after {
  transform: scaleX(1);
}

.btn__background-slide {
  transition: color 300ms var(--transition-timing-function);
  z-index: 1;
}

.btn__background-slide:hover,
.btn__background-slide:focus {
  color: white;
}


/* Кнопки слайдеров*/

.swiper-notification {
  display: none;
}

.swiper-pagination {
  padding: 4px 0;
  position: static;
  color: #FFFFFF;
  text-align: center;
}

.publications__slider-buttons,
.gallery__slider-buttons {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 2px;
}

.publications__slider-pagination,
.gallery__slider-pagination {
  text-align: center;
  color: #FFFFFF;
}

.gallery__slider-pagination {
  margin-right: 14px;
}

.publications__slider-pagination {
  margin-right: 19px;
}

.projects__nav-btn,
.publications__nav-btn,
.gallery__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #666666;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: border var(--transition-time) var(--transition-timing-function), background-color var(--transition-time) var(--transition-timing-function);
}

.projects__nav-btn::before,
.publications__nav-btn::before,
.gallery__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 6px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gallery__slider-button-prev {
  margin-right: 14px;
}

.publications__slider-button-prev {
  margin-right: 18px;
}

.projects__slider-button-next::before,
.publications__slider-button-next::before,
.gallery__slider-button-next::before {
  left: calc(50% - 8px / 2);
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.projects__slider-button-prev::before,
.publications__slider-button-prev::before,
.gallery__slider-button-prev::before {
  left: calc(50% - 4px / 2);
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

/* Анимации кнопок */

.projects__nav-btn:focus,
.publications__nav-btn:focus,
.gallery__nav-btn:focus {
  outline: none;
}

.publications__nav-btn:active,
.gallery__nav-btn:active,
.publications__nav-btn:hover,
.gallery__nav-btn:hover {
  background-color: var(--theme-color);
}

.projects__nav-btn:focus::after,
.publications__nav-btn:focus::after,
.gallery__nav-btn:focus::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid black;
}

/* Отдельно описываю цвета кнопок слайдера Project */

.projects__nav-btn {
  background-color: #ECECEC;
}

.projects__slider-button-prev::before {
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.projects__slider-button-next::before {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}

.projects__nav-btn:focus::after {
  border: 2px solid var(--theme-color);
}

.projects__nav-btn:hover {
  background-color: var(--theme-color-btn-focus);
}

.swiper-button-disabled.projects__slider-button-prev::before {
  border-left: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}

.swiper-button-disabled.projects__slider-button-next::before {
  border-top: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
}

/* Стили задизейблиных кнопок слайдеров */

[class*="__nav-btn"].swiper-button-disabled {
  cursor: no-drop;
  background-color: #B0B0B0;
}

[class*="projects__slider-button"].swiper-button-disabled {
  background-color: #ECECEC;
}

/*Hidden*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*Title*/

h1,
h2,
h3 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color);
}

/*Text*/

p {
  margin: 0;
}

.text {
  font-size: var(--text-font-size);
  line-height: 2em;
  color: var(--text-color);
}

.text--size_xs {
  font-size: 12px;
  line-height: 16px;
}

.text--size_s {
  font-size: 16px;
  line-height: 22px;
}

.text--color_grey {
  color: #999999;
}

.text--color_theme {
  color: var(--theme-color);
}

/*Link*/

a {
  text-decoration: none;
  transition: background-color var(--transition-time) var(--transition-timing-function);
}

a:focus {
  outline: none;
  background-color: var(--theme-color);
  color: #FFFFFF;
}

/*Images*/

img {
  display: block;
  width: 100%;
}

/*List*/

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/*Form*/

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media (max-width: 1464px) {

  .container--slim {
    display: none;
  }
}

@media (max-width: 768px) {

  /*.btn {*/
  /*  padding: 0;*/
  /*}*/

}

@media (max-width: 600px) {

  .btn {
    width: 200px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
  }

  /* Убираем анимации в мобильной версии */
  .swiper-slide:focus::before {
    content: none;
  }

  .swiper-slide:hover::after {
    content: none;
  }

  .swiper-slide:active::before {
    content: none;
    background: none;
  }

}

@media (max-width: 480px) {

  .container {
    padding: var(--mobile-padding);
  }

  .btn--size_x {
    padding: 0 0 0 2px;
  }

  .text {
    font-size: 14px;
  }

  .text--size_xs {
    font-size: 12px;
    line-height: 22px;
  }

  .text--size_s {
    font-size: 16px;
    line-height: 22px;
  }

}
