/*Publications*/

.publications {
  background-image: url("../../image/publications/publicationsBackground(1920)@1.jpg");
  background-size: cover;
}

.publications__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 76px;
  padding-right: 44px;
}

/* Левая сторона */

.left-side {
  display: flex;
  flex-direction: column;
  width: calc(100% - 75%);
}

.publications__title {
  display: inline-block;
  line-height: 64px;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.checkbox__title,
.filter__title {
  margin-bottom: 7px;
  font-size: var(--text-font-size);
  line-height: 2em;
  font-weight: 700;
  color: #FFFFFF;
}

.checkbox__title:focus {
  outline: none;
}

.checkbox__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
}

.checkbox__item {
  display: inline-block;
  color: #FFFFFF;
}

.checkbox__item:not(:last-child) {
  margin-bottom: 14px;
}

.check {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.check:hover {
  color: var(--publication-color-checkbox-hover);
}

.check:hover .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='%23C283F3'/%3E%3C/svg%3E%0A");
}

.check__input:focus ~ .check__text {
  outline: none;
  color: var(--publication-color-checkbox-focus);
}

.check__input:focus + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='%23C283F3'/%3E%3C/svg%3E%0A");
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  z-index: 10;
  margin-left: -25px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  /*border: 1px solid #FFFFFF;*/
  transition: background-image var(--transition-time) var(--transition-timing-function);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='white'/%3E%3C/svg%3E%0A");
}

.check__text {
  position: relative;
  transition: color var(--transition-time) var(--transition-timing-function);
  line-height: 1.13;
}

.checkbox__item--active .check__text {
  color: var(--publication-color-checkbox-active) !important;
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='%23C283F3'/%3E%3Ccircle cx='6' cy='6' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.filter__table {
  display: inline-block;
  height: 40px;
  min-width: 277px;
  border: 1px solid var(--border-color-default);
  border-radius: 6px;
  border-spacing: 0;
  overflow: hidden;
}

.filter__table td {
  height: 100%;
  padding: 0;
  text-indent: unset;
  border-collapse: unset;
}

.filter__table-input,
.filter__table-text {
  padding: 4px 10px;
}

.filter__table-input::placeholder,
.filter__table-text {
  font-size: var(--text-font-size);
  line-height: 2em;
  color: #FFFFFF;
}

.filter__table-input {
  width: 73px;
  height: 38px;
  border: 1px solid transparent;
  background-color: var(--publication-color-background-input);
  color: #FFFFFF;
  transition: border-color var(--transition-time) var(--transition-timing-function), background-color var(--transition-time) var(--transition-timing-function);
}

.filter__table-input:hover {
  background-color: var(--publication-color-background-input-hover);
}

.filter__table-input:focus {
  background-color: var(--publication-color-background-input-focus)
}

.filter__table-input:focus {
  outline: none;
  border-color: #FFFFFF;
}

/* Правая сторона */

.right-side {
  width: calc(100% - 28% + 6px);
  padding-top: 30px;
  overflow: visible;
}

.publications__slider-buttons {
  margin-left: 6px;
  margin-bottom: 30px;
}

.publications__slider-container {
  height: 100%;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
}

.publications__slider-container .publications__slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: initial;
  padding-top: 1px;
}

.publications-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: calc((75% - 100px) / 3);
  margin: 0;
  max-height: 512px;
}

.publications-card.swiper-slide::before,
.publications-card.swiper-slide::after {
  content: none;
}

.publications-card__pic {
  margin-bottom: 24px;
}

.publications-card__desc {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--text-font-size);
  color: #FFFFFF;
  line-height: 22px;
}

.publications-card__title {
  width: 60%;
  font-size: var(--text-font-size);
}

.publications-card__price {
  min-width: 40%;
  text-align: end;
  /*padding-right: 3px;*/
}

.publications-card__author {
  width: 100%;
  margin-bottom: 15px;
}

.publications-card__button {
  align-self: flex-start;
  min-width: 120px;
  padding: 5px 19px 6px 20px;
  border: 2px solid var(--publication-color-border-button);
  background-color: transparent;
}

@media (max-width: 1440px) {

  .left-side {
    display: flex;
    flex-direction: column;
    width: calc(100% - 70%);
  }

  .publications__title {
    margin-bottom: 17px;
  }

  .right-side {
    width: calc(100% - 30%);
    padding-top: 33px;
  }

  .publications__slider-buttons {
    margin-left: 16px;
  }

  .publications__slider-container {
    padding-left: 16px;
  }

  .publications-card__pic {
    margin-bottom: 14px;
  }

  .publications-card {
    max-height: 433px;
  }

  .publications {
    background-image: url("../../image/publications/publicationsBackground(1024)@1.jpg");
  }
}

@media (max-width: 920px) {

  .publications__container {
    display: flex;
    flex-wrap: wrap;
    padding: var(--desktop-padding);
    padding-bottom: 80px;
  }

  .publications__title {
    margin-bottom: 12px;
    line-height: 72px;
  }

  .left-side {
    width: 100%;
  }

  .checkbox__title,
  .filter__title {
    margin-bottom: 0;
  }

  .filter__table {
    margin-top: 8px;
  }

  .right-side {
    width: 100%;
    padding-top: 47px;
  }

  .publications__slider-buttons {
    margin-left: unset;
  }

  .publications__slider-container {
    padding: 0 27px;
  }

  .publications__slider-container .publications__slider-wrapper {
    padding-left: 0;
    padding-top: 0;
  }

  .check {
    padding-left: 24px;
  }

  .check__box {
    margin-left: -24px;
  }

  .checkbox__list {
    flex-wrap: wrap;
    height: 185px;
    margin-bottom: 0;
  }

  .checkbox__item {
    margin-right: 38px;
    width: 190px;
  }

  .checkbox__item:not(:last-child) {
    margin-bottom: 0;
  }

  .checkbox__item,
  .checkbox__item--active {
    order: 2;
  }

  .publications-card {
    max-height: 550px;
  }

  .publications-card__pic {
    margin-bottom: 13px;
  }

  .publications-card__price {
    padding: 0;
  }

  .check__box--position_top {
    margin-top: -31px;
  }

  .check__text {
    font-size: var(--text-font-size);
    line-height: 2em;
  }

  .publications {
    background-image: url("../../image/publications/publicationsBackground(768)@1.jpg");
  }

  /*.check:hover {*/
  /*  color: #ffffff;*/
  /*}*/

  .check__text,
  .check__input,
  .check__box {
    transition: none;
  }

  /*.check:hover .check__box {*/
  /*  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='white'/%3E%3C/svg%3E%0A");*/
  /*}*/

  /*.check__input:hover + .check__box,*/
  /*.check:hover .check__input:checked .check__box,*/
  .check__input:checked:focus + .check__box {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='%23C283F3'/%3E%3Ccircle cx='6' cy='6' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A");
    /*background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='white'/%3E%3C/svg%3E%0A");*/
    /*transition: none;*/
  }

  .check__box {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='white'/%3E%3C/svg%3E%0A") !important;
  }

  .check__text {
    color: #ffffff !important;
  }

  .checkbox__item--active .check__box {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='%23C283F3'/%3E%3Ccircle cx='6' cy='6' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A") !important;
  }

  .check__input:checked .check__box {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' stroke='%23C283F3'/%3E%3Ccircle cx='6' cy='6' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A") !important;
  }

  .check:hover  .check__box {
    /*color: var(--publication-color-background-input-hover);*/
    /*color: #ffffff;*/
  }


  .check:hover .check__text {
    color: #ffffff;
  }

  .check__input:checked + .check__text {
    color: var(--publication-color-background-input-hover) !important;
  }

  /*.check__input:checked + .check__box {*/
  /*  color*/
  /*}*/
  /*.check__input:checked:focus + .check__box */

}

@media (max-width: 750px) {

  .checkbox__title {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    text-align: start;
    font-weight: 700;
    border-top: 1px solid var(--border-color-default);
    border-bottom: 1px solid var(--border-color-default);
    transition: background-color var(--transition-time) var(--transition-timing-function);
  }

  .checkbox__title::before {
    content: "";
    position: absolute;
    top: 14px;
    right: 2px;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    transform-origin: center;
    transform: rotate(-135deg);
    transition: transform var(--transition-time) var(--transition-timing-function);
  }

  .checkbox__title[aria-expanded="true"]::before {
    transform: rotate(45deg);
  }

  .checkbox__list {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 18px;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .checkbox__item {
    position: relative;
    order: 2;
    display: block;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid var(--border-color-default);
  }

  .checkbox__item--active {
    order: 1;
  }

  .checkbox__item--active::before,
  .checkbox__item--active::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 6px;
    display: block;
    width: 1px;
    height: 16px;
    background-color: var(--publication-color-checkbox);
  }

  .checkbox__item--active::after {
    transform: rotate(45deg);
  }

  .checkbox__item--active::before {
    transform: rotate(-45deg);
  }

  .check__box--position_top {
    margin-top: 0;
  }

  .filter__table {
    margin-top: 0;
  }

  .filter__title {
    margin-bottom: 7px;
    border: none;
  }

  .filter__title::before {
    content: none;
  }

  /*.publications__slider-buttons {*/
  /*  display: none;*/
  /*}*/

  .right-side {
    padding-top: 46px;
  }

  .publications-card {
    width: calc((100% / 2) - 15px);
    margin-bottom: 51px;
  }

  .publications-card__pic {
    margin-bottom: 9px;
  }

  .publications-card__button,
  .publications-card__price,
  .publications-card__title {
    width: 100%;
  }

  .publications-card__title {
    order: 1;
  }

  .publications-card__author {
    order: 2;
    margin-bottom: 2px;
  }

  .publications-card__price {
    order: 3;
    margin-bottom: 11px;
    text-align: start;
  }

  .publications-card__button {
    order: 5;
    padding: 12px 0 15px;
    font-weight: 700;
  }

}

@media (max-width: 600px) {

  .publications__slider-buttons {
    display: none;
  }

  .publications__slider-container .publications__slider-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -50px;
  }

}

@media (max-width: 480px) {

  .publications__container {
    padding: var(--mobile-padding);
    padding-bottom: 50px;
  }

  .publications__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .publications__slider-container {
    padding: 0;
  }

  .publications-card__author,
  .publications-card__price,
  .publications-card__title {
    font-size: 12px;
    line-height: 16px;
  }

  .publications-card__button {
    padding: 0;
  }

  .check__text {
    line-height: 38px;
  }

  .publications {
    background-image: url("../../image/publications/publicationsBackground(320)@1.jpg");
  }
}
