/*Publications*/

.publications {
  background-image: -webkit-image-set(
    url("../../image/publications/publicationsBackground(1920)@2.webp") 2x,
    url("../../image/publications/publicationsBackground(1920)@1.webp") 1x,
    url("../../image/publications/publicationsBackground(1920)@2.jpg") 2x,
    url("../../image/publications/publicationsBackground(1920)@1.jpg") 1x
  );
  background-size: cover;
}

.container__publications {
  display: flex;
  justify-content: space-between;
  padding-bottom: 77px;
}

/* Левая сторона */

.left-side {
  display: flex;
  flex-direction: column;
  width: calc(100% - 75%);
}

.publications__title {
  display: inline-block;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.filter__title {
  margin-bottom: 7px;
  font-size: var(--text-font-size);
  line-height: 2em;
  font-weight: 700;
  color: #FFFFFF;
}

.checkbox__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.checkbox__item {
  display: inline-block;
  color: #FFFFFF;
}

.checkbox__item:not(:last-child) {
  margin-bottom: 14px;
}

.check {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.check:hover {
  color: var(--theme-color-hover);
}

.check:hover .check__box {
  border-color: var(--theme-color-hover);
}

.check:focus {
  outline: none;
  color: var(--theme-color-hover);
}

.check:focus .check__box {
  border-color: var(--theme-color-hover);
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  z-index: 10;
  margin-left: -25px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}


/*.check__box::after {*/
/*  content: none;*/
/*  position: absolute;*/
/*  top: -5px;*/
/*  right: -5px;*/
/*  bottom: -5px;*/
/*  left: -5px;*/
/*  z-index: 1;*/
/*  background-color: white;*/
/*  border-radius: 50%;*/
  /*animation: pulse 20s infinite;*/
  /*animation-iteration-count: 1;*/
/*}*/

/*.check:active .check__box::after {*/
/*  content: '';*/
/*}*/

/*@keyframes pulse {*/
/*  0% {*/
/*    transform: scale(1);*/
/*    opacity: 0.35;*/
/*  }*/
/*  3% {*/
/*    transform: scale(1.15);*/
/*    opacity: 0;*/
/*  }*/
/*  100% {*/
/*    transform: scale(1);*/
/*    opacity: 0;*/
/*  }*/

/*}*/


.checkbox__item--active.checkbox__item .check__text {
  color: var(--theme-color-hover);
}

.checkbox__item--active.checkbox__item .check__box {
  border-color: var(--theme-color);
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.checkbox__item--active.checkbox__item .check__box::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--theme-color);
}

.filter__table {
  display: inline-block;
  height: 40px;
  min-width: 277px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  border-spacing: 0;
  overflow: hidden;
}

.filter__table td {
  height: 100%;
  padding: 0;
  text-indent: unset;
  border-collapse: unset;
}

.filter__table-input,
.filter__table-text {
  padding: 4px 10px;
}

.filter__table-input::placeholder,
.filter__table-text {
  font-size: var(--text-font-size);
  line-height: 2em;
  color: #FFFFFF;
}

.filter__table-input {
  width: 73px;
  height: 38px;
  border: 1px solid transparent;
  background-color: rgba(157, 92, 208, 0.5);
  color: #FFFFFF;
}

.filter__table-input:hover {
  background-color: var(--theme-color-hover);
}

.filter__table-input:focus {
  outline: none;
  border: 1px solid #FFFFFF;
  background-color: var(--theme-color-hover);
}

.filter__table-input:active {
  background-color: var(--theme-color-active);
}

/* Правая сторона */

.right-side {
  width: calc(100% - 28%);
  padding-top: 30px;
  overflow: hidden;
}

.publications__slider-container {
  height: 100%;
}

.publications__slider-container .publications__slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: initial;
  padding-left: 2px;
  padding-top: 1px;
}

.publications-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: calc((75% - 100px) / 3);
  margin: 0;
  max-height: 512px;
}

.publications-card.swiper-slide::before,
.publications-card.swiper-slide::after {
  content: none;
}

.publications-card__pic {
  margin-bottom: 22px;
}

.publications-card__desc {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--text-font-size);
  color: #FFFFFF;
  line-height: 22px;
}

.publications-card__title {
  width: 60%;
  font-size: var(--text-font-size);
}

.publications-card__price {
  width: 40%;
  text-align: end;
  padding-right: 3px;
}

.publications-card__author {
  width: 100%;
  margin-bottom: 15px;
}

.publications-card__btn {
  width: 120px;
  /*margin-top: auto;*/
  padding: 5px 19px 6px 20px;
  border: 2px solid var(--theme-color);
  background-color: transparent;
}

@media (max-width: 1440px) {

  .left-side {
    display: flex;
    flex-direction: column;
    width: calc(100% - 70%);
  }

  .right-side {
    width: calc(100% - 30%);
  }

  .publications__slider-buttons {
    margin-left: 18px;
  }

  .publications__slider-container {
    padding-left: 16px;
  }

  .publications-card__pic {
    margin-bottom: 12px;
  }

  .publications-card {
    max-height: 433px;
  }

  .publications {
    background-image: -webkit-image-set(
      url("../../image/publications/publicationsBackground(1024)@2.webp") 2x,
      url("../../image/publications/publicationsBackground(1024)@1.webp") 1x,
      url("../../image/publications/publicationsBackground(1024)@2.jpg") 2x,
      url("../../image/publications/publicationsBackground(1024)@1.jpg") 1x
    );
  }

}


@media (max-width: 920px) {

  .container__publications {
    display: flex;
    flex-wrap: wrap;
    padding: 85px 50px 81px;
  }

  .publications__title {
    margin-bottom: 14px;
  }

  .left-side {
    width: 100%;
  }

  .filter__title {
    margin-bottom: 0;
  }

  .filter__table {
    margin-top: 7px;
  }

  .right-side {
    width: 100%;
    padding-top: 44px;
  }

  .publications__slider-buttons {
    margin-left: unset;
  }

  .publications__slider-container {
    padding: 0 14px;
  }

  .publications__slider-container .publications__slider-wrapper {
    padding-left: 0;
    padding-top: 0;
  }

  .check {
    padding-left: 24px;
  }

  .check__box {
    margin-left: -24px;
  }

  .checkbox__list {
    flex-wrap: wrap;
    height: 185px;
    margin-bottom: 0;
  }

  .checkbox__item {
    margin-right: 38px;
    width: 190px;
  }

  .checkbox__item:not(:last-child) {
    margin-bottom: 0;
  }

  .checkbox__item,
  .checkbox__item--active {
    order: 2;
  }

  .publications-card {
    max-height: 550px;
  }

  .publications-card__pic {
    margin-bottom: 14px;
  }

  .publications-card__price {
    padding: 0;
  }

  .check__box--position_top {
    margin-top: -31px;
  }

  .check__text {
    font-size: var(--text-font-size);
    line-height: 2em;
  }

  .publications {
    background-image: -webkit-image-set(
      url("../../image/publications/publicationsBackground(768)@2.webp") 2x,
      url("../../image/publications/publicationsBackground(768)@1.webp") 1x,
      url("../../image/publications/publicationsBackground(768)@2.jpg") 2x,
      url("../../image/publications/publicationsBackground(768)@1.jpg") 1x
    );
  }
}

@media (max-width: 750px) {

  .filter__title {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    text-align: start;
    font-weight: 700;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .filter__title::before {
    content: "";
    position: absolute;
    top: 45%;
    right: 1%;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    transform-origin: center;
    transform: rotate(45deg);

    transition: transform 0.3s ease-in-out;
  }

  .filter__title[aria-expanded="true"]::before {
    transform: rotate(225deg);
  }

  .filter__title:focus {
    outline: none;
    background-color: var(--theme-color-focus);
  }

  .checkbox__list {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 18px;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .checkbox__item {
    position: relative;
    order: 2;
    display: block;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .checkbox__item--active {
    order: 1;
  }


  .checkbox__item--active::before,
  .checkbox__item--active::after {
    content: "";
    position: absolute;
    top: 28%;
    right: 9px;
    display: block;
    width: 1px;
    height: 16px;
    background-color: #C283F3;
    /*border-top: 1px solid #C283F3;*/
  }
  .checkbox__item--active::after {
    transform: rotate(45deg);
  }
  .checkbox__item--active::before {
    transform: rotate(-45deg);
  }

  .check__box--position_top {
    margin-top: 0;
  }

  .filter__table {
    margin-top: 0;
  }

  .filter__title-border-none {
    border: none;
  }

  .filter__title-before-none::before {
    content: none;
  }

  .publications__slider-buttons {
    display: none;
  }

  .right-side {
    padding-top: 46px;
  }

  .publications-card {
    width: calc((100% / 2) - 30px);
    margin-bottom: 50px;
  }

  .publications-card__pic {
    margin-bottom: 9px;
  }

  .publications-card__btn,
  .publications-card__price,
  .publications-card__title {
    width: 100%;
  }

  .publications-card__title {
    order: 1;
  }

  .publications-card__author {
    order: 2;
    margin-bottom: 2px;
  }

  .publications-card__price {
    order: 3;
    margin-bottom: 11px;
    text-align: start;
  }

  .publications-card__btn {
    order: 5;
    /*height: 40px;*/
    padding: 12px 0 15px;
    font-weight: 700;
  }

}

@media (max-width: 600px) {

  .publications__slider-container .publications__slider-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -50px;
  }

}

@media (max-width: 480px) {

  .container__publications {
    padding: 51px 15px 51px 15px;
  }

  .publications__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 11px;
  }

  .publications__slider-container {
    padding: 0;
  }

  .publications-card__author,
  .publications-card__price,
  .publications-card__title {
    font-size: 12px;
    line-height: 16px;
  }

  .publications-card__btn {
    padding: 0;
  }

  .publications {
    background-image: -webkit-image-set(
      url("../../image/publications/publicationsBackground(320)@1-2.webp") 2x,
      url("../../image/publications/publicationsBackground(320)@1.webp") 1x,
      url("../../image/publications/publicationsBackground(320)@2.jpg") 2x,
      url("../../image/publications/publicationsBackground(320)@1.jpg") 1x
    );
  }
}
