@import '../../mixin';
@import '../../variables';

.hight-rating {
  &__container {
    @include container;

    margin-bottom: 92px;
  }

  &__title {
    @include title-h2;

    text-align: left;
  }

  &__list {
    display: grid;
    grid-template-rows: repeat(2, minmax(420px, 1fr));
    grid-template-columns: repeat(4, 296px);
    gap: 32px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    background-color: $grey-light;
    border-radius: 10px;
    transition: opacity 0.3s ease-out;

    &--disabled {
      display: none;
    }

    &--hide {
      opacity: 0;
    }

    &-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 420px;
      text-align: start;
    }

    &-rating {
      position: absolute;
      top: 30px;
      left: 45px;
      color: $secondary-color;

      &::before {
        position: absolute;
        top: 1px;
        left: -24px;
        display: inline-block;
        width: 16px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2257 5.28193L10.5089 4.59758L8.40032 0.330127C8.34273 0.213287 8.24799 0.118702 8.13095 0.0612089C7.83742 -0.0834504 7.48074 0.037099 7.33398 0.330127L5.22543 4.59758L0.508622 5.28193C0.378579 5.30047 0.259684 5.36167 0.168654 5.45441C0.0586046 5.56733 -0.00203778 5.71924 5.22879e-05 5.87678C0.00214235 6.03431 0.0667938 6.18457 0.179801 6.29454L3.59248 9.61614L2.78622 14.3064C2.76731 14.4156 2.7794 14.5278 2.82113 14.6304C2.86285 14.733 2.93253 14.8218 3.02228 14.8869C3.11202 14.952 3.21823 14.9906 3.32886 14.9985C3.4395 15.0064 3.55013 14.9831 3.64821 14.9314L7.86715 12.717L12.0861 14.9314C12.2013 14.9926 12.335 15.013 12.4632 14.9908C12.7865 14.9352 13.0038 14.6291 12.9481 14.3064L12.1418 9.61614L15.5545 6.29454C15.6474 6.20367 15.7087 6.08497 15.7273 5.95515C15.7774 5.63059 15.5508 5.33015 15.2257 5.28193Z' fill='%23FF862F'/%3E%3C/svg%3E%0A");
        content: '';
      }
    }

    &-content {
      padding-right: 20px;
      padding-bottom: 30px;
      padding-left: 20px;
    }

    &-picture {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 150px;
      margin-bottom: 16px;
      padding-top: 30px;
      padding-right: 15px;
      padding-left: 15px;
    }

    &-title {
      margin: 0;
      margin-bottom: 23px;
      color: $black;
      font-weight: 400;
      font-size: 24px;
      line-height: 31px;
    }

    &-price {
      display: block;
      margin-bottom: 24px;
      color: $grey-shade;
    }

    &-button {
      @include button-secondary;

      align-items: flex-end;
      width: 128px;
      height: 54px;
      margin-top: auto;
    }
  }

  &__button {
    @include button-primary;

    display: block;
    min-width: 296px;
    min-height: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}
