meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content="width=device-width,initial-scale=1")
link(rel='shortcut icon' href='images/favicon.svg' type='image/x-icon')
title High pass
link(rel='preload' href='fonts/TTFirsNeue-DemiBold.woff2' as='font' type='font/woff2' crossorigin)
link(rel='preload' href='fonts/TTFirsNeue-Regular.woff2' as='font' type='font/woff2' crossorigin)
link(rel='preload' href='fonts/Roboto-Regular.woff2' as='font' type='font/woff2' crossorigin)
link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
link(rel="stylesheet" href='style.min.css')
script(defer src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js")
script(defer src="https://api-maps.yandex.ru/2.1/?apikey=373a2fb4-7a7a-4a04-9e68-4ccb6065477a&lang=ru_RU")
script(defer src='app.js')
