@import '../normalize';
@import '../fonts';
@import '../mixin';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: OpenSans, sans-serif, Arial, Helvetica;

  &__title {
    @include visually-hidden;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  appearance: none;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  appearance: none;
}
