section.hero
  .__container
    .__grid
      .__main-card
        .__offer
          .__offer-author Мастер-класс от Игоря Робова
          h2.__offer-title Неоновый фотосет 2.0 7&nbsp;июля 20:00
          a.__offer-description Узнать больше
        .__offer-tag #мастеркласс
      strong.__card-description Работы участников предыдущего мастер-класса
      a.__sub-card.-background
      a.__little-card.-background-one
      a.__little-card.-background-two
