// @import '../../mixin';
// @import '../../variables';

.footer {
  width: 100%;
  background-color: $md-grey;

  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 22px;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 15%;
  }

  &__logo {
    width: 187px;
    height: 27px;
  }

  &__socity {
    &-list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 20px;
      }

      height: fit-content;
    }

    &-link {
      @include link-reset;

      position: relative;
      z-index: 0;
      display: inline-block;
      height: fit-content;

      &::before {
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -1px;
        left: -4px;
        z-index: -1;
        display: block;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
        content: '';
      }

      &:focus {
        outline: none;

        &::before {
          background-color: $primary-light;
        }
      }
    }

    &-svg {
      width: 30px;
      height: 30px;
      padding: 0;
      transition: fill 0.3s ease-out, background-color 0.3s ease-out;
      fill: $grey;
    }

    &-link:focus &-svg {
      // background-color: $primary-light;
      fill: white;
    }

    &-link:active &-svg {
      fill: $primary-shade;
    }

    &-link:hover &-svg {
      fill: $primary-color;
    }
  }

  &__right-side {
    display: flex;
    justify-content: space-between;
    width: 65.9%;
  }

  &__section {
    display: inline-block;
    width: fit-content;
  }

  &__title {
    @include footer-title;

    display: inline-block;
  }

  &__info {
    &-list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    &-link {
      @include link-state;
    }
  }

  @media (max-width: 1160px) {
    &__left-side {
      width: 23%;
    }

    &__right-side {
      display: flex;
      justify-content: space-between;
      width: 77%;
    }
  }

  @media (max-width: 1000px) {
    &__container {
      flex-direction: column;
    }

    &__left-side,
    &__right-side {
      display: flex;
      width: 100%;
    }

    &__left-side {
      flex-direction: row;
      margin-bottom: 22px;
    }
  }

  @media (max-width: 580px) {
    &__left-side {
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      margin-bottom: 24px;
    }

    &__right-side {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      row-gap: 25px;
      column-gap: 18px;
    }
  }
}

.sub-footer {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: $grey-light;

  &__text {
    color: $grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.7px;
  }
}
